# Workgroup 3
### Integrantes:
- Diego Esteban Quispe (20192073)
-
-

### Exploring a DataFrame

In [1]:
#!pip install openpyxl
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
#Importamos la base de datos
junin = pd.read_excel(r'../../data/Region_Junin.xlsx')

In [3]:
junin.head()

,Unnamed: 0,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0

#### 1. Obtener el nombre de todas las variables

In [4]:
#Nombre de todas las variables
print(junin.columns)

Index(['Unnamed: 0', 'Region', 'District', 'Place', '4_6_years_men',
       '4_6_years_women', '4_6_years_total', '6_14_years_men',
       '6_14_years_women', '6_14_years_total', 'man_read', 'women_read',
       'total_read', 'men_not_read', 'women_not_read', 'total_not_read',
       'man_write', 'women_write', 'total_write', 'men_not_write',
       'women_not_write', 'total_not_write', 'instruction_men',
       'instruction_women', 'instruction_total', 'no_instruction_men',
       'no_instruction_women', 'no_instruction_total', 'finished_instr_men',
       'finished_instr_women', 'finished_instr_total',
       'not_finished_instr_men', 'not_finished_instr_women',
       'not_finished_instr_total', 'peruvian_men', 'peruvian_women',
       'foreign_men', 'foreign_women', 'whites', 'natives', 'mestizos',
       'blacks'],
      dtype='object')

#### 2. Mostrar el tipo de variables (type) así como presentar los principales estadísticos.

In [5]:
#Tipo de variables
junin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                197 non-null    int64
 1   Region                    197 non-null    object
 2   District                  197 non-null    object
 3   Place                     197 non-null    object
 4   4_6_years_men             197 non-null    int64
 5   4_6_years_women           197 non-null    int64
 6   4_6_years_total           197 non-null    int64
 7   6_14_years_men            197 non-null    int64
 8   6_14_years_women          197 non-null    int64
 9   6_14_years_total          197 non-null    int64
 10  man_read                  197 non-null    int64
 11  women_read                197 non-null    int64
 12  total_read                197 non-null    int64
 13  men_not_read              197 non-null    int64
 14  women_not_read            197 non-null    int64
 15  total_not_read            197 non-null    int64
 16  man_write                 197 non-null    int64
 17  women_write               197 non-null    int64
 18  total_write               197 non-null    int64
 19  men_not_write             197 non-null    int64
 20  women_not_write           197 non-null    int64
 21  total_not_write           197 non-null    int64
 22  instruction_men           197 non-null    int64
 23  instruction_women         197 non-null    int64
 24  instruction_total         197 non-null    int64
 25  no_instruction_men        197 non-null    int64
 26  no_instruction_women      197 non-null    int64
 27  no_instruction_total      197 non-null    int64
 28  finished_instr_men        197 non-null    int64
 29  finished_instr_women      197 non-null    int64
 30  finished_instr_total      197 non-null    int64
 31  not_finished_instr_men    197 non-null    int64
 32  not_finished_instr_women  197 non-null    int64
 33  not_finished_instr_total  197 non-null    int64
 34  peruvian_men              197 non-null    int64
 35  peruvian_women            197 non-null    int64
 36  foreign_men               197 non-null    int64
 37  foreign_women             197 non-null    int64
 38  whites                    197 non-null    int64
 39  natives                   197 non-null    int64
 40  mestizos                  197 non-null    int64
 41  blacks                    197 non-null    int64
dtypes: int64(39), object(3)
memory usage: 64.8+ KB

In [6]:
#Estadisticas descriptivas de todas las variables
junin.describe()

,Unnamed: 0,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,women_read,total_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
count,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,...,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000,197.000000
mean,98.000000,16.979695,15.345178,32.324873,79.005076,62.482234,141.538071,34.654822,11.705584,46.360406,...,79.238579,172.675127,95.918782,77.664975,0.030457,0.010152,9.893401,110.558376,52.583756,0.776650
std,57.013156,22.571419,21.618979,43.489455,99.837291,90.879972,188.535210,51.091581,34.676708,83.291516,...,111.799104,220.657751,120.177520,110.539722,0.265511,0.100501,39.677190,131.094774,123.120065,7.584952
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,49.000000,4.000000,4.000000,8.000000,25.000000,19.000000,42.000000,2.000000,0.000000,2.000000,...,25.000000,50.000000,31.000000,25.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000
50%,98.000000,10.000000,9.000000,20.000000,55.000000,41.000000,91.000000,21.000000,0.000000,23.000000,...,50.000000,108.000000,65.000000,50.000000,0.000000,0.000000,0.000000,73.000000,3.000000,0.000000
75%,147.000000,20.000000,18.000000,39.000000,88.000000,73.000000,160.000000,42.000000,7.000000,50.000000,...,94.000000,197.000000,103.000000,91.000000,0.000000,0.000000,0.000000,143.000000,48.000000,0.000000
max,196.000000,184.000000,184.000000,368.000000,950.000000,957.000000,1907.000000,317.000000,225.000000,542.000000,...,1089.000000,2164.000000,1132.000000,1141.000000,3.000000,1.000000,348.000000,1367.000000,808.000000,92.000000

#### 3. Verifique si las columnas presentan missing values

In [7]:
np.any(junin.iloc[:,1].isnull())

False

In [8]:
#Codigo para encontrar variables con missing values
for i in np.arange(1,len(junin.columns)):
    if np.any(junin.iloc[:,i].isnull()):
        print(junin.columns[i])

Como el anterior bloque no tiene algun output, podemos decir que todas las variables no tienen missing values.

#### 4. Cambie el nombre de las variables
- men_not_read: nlee_hombre
- women_not_read: nlee_mujer
- total_not_read: ntotal_lee
- men_not_write: nesc_hombre
- women_not_write: nesc_mujer
- total_not_write: nesc_total

In [9]:
#Cambiando nombres de variables
junin.rename(columns = {'men_not_read':'nlee_hombre', 'women_not_read':'nlee_mujer',
                        'total_not_read':'ntotal_lee', 'men_not_write':'nesc_hombre',
                        'women_not_write':'nesc_mujer', 'total_not_write':'nesc_total',
                        'Place':'comunidad'}, inplace = True)

In [10]:
junin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                197 non-null    int64
 1   Region                    197 non-null    object
 2   District                  197 non-null    object
 3   comunidad                 197 non-null    object
 4   4_6_years_men             197 non-null    int64
 5   4_6_years_women           197 non-null    int64
 6   4_6_years_total           197 non-null    int64
 7   6_14_years_men            197 non-null    int64
 8   6_14_years_women          197 non-null    int64
 9   6_14_years_total          197 non-null    int64
 10  man_read                  197 non-null    int64
 11  women_read                197 non-null    int64
 12  total_read                197 non-null    int64
 13  nlee_hombre               197 non-null    int64
 14  nlee_mujer                197 non-null    int64
 15  ntotal_lee                197 non-null    int64
 16  man_write                 197 non-null    int64
 17  women_write               197 non-null    int64
 18  total_write               197 non-null    int64
 19  nesc_hombre               197 non-null    int64
 20  nesc_mujer                197 non-null    int64
 21  nesc_total                197 non-null    int64
 22  instruction_men           197 non-null    int64
 23  instruction_women         197 non-null    int64
 24  instruction_total         197 non-null    int64
 25  no_instruction_men        197 non-null    int64
 26  no_instruction_women      197 non-null    int64
 27  no_instruction_total      197 non-null    int64
 28  finished_instr_men        197 non-null    int64
 29  finished_instr_women      197 non-null    int64
 30  finished_instr_total      197 non-null    int64
 31  not_finished_instr_men    197 non-null    int64
 32  not_finished_instr_women  197 non-null    int64
 33  not_finished_instr_total  197 non-null    int64
 34  peruvian_men              197 non-null    int64
 35  peruvian_women            197 non-null    int64
 36  foreign_men               197 non-null    int64
 37  foreign_women             197 non-null    int64
 38  whites                    197 non-null    int64
 39  natives                   197 non-null    int64
 40  mestizos                  197 non-null    int64
 41  blacks                    197 non-null    int64
dtypes: int64(39), object(3)
memory usage: 64.8+ KB

#### 6. Muestre los valores únicos de las siguientes variables ( comunidad , District)

In [14]:
import pandas as pd #importamos libreria

print(junin['comunidad'].unique(),"\n")
print(junin['District'].unique())

['C.CIUDAD DEL CERRO' 'P.YANACANCHA' 'VICO' 'RANCA' 'PASCO' 'QUIRLACOCHA'
 'CAJAMARQUILLA' 'CAICO' 'ROCO' 'C.SACRA FAMILIA' 'P.QUINUA'
 'H.PARIAHUANCA' 'P.SULLUMARCA' 'H.SAN ANDRÉS' 'P.HUALLAY' 'C.HUAYCHAO'
 'COCHAMARCA' 'P.CHACAYÁN' 'VILCABAMBA' 'CUCHES' 'CHANGO' 'MITO'
 'ANTAPIRCA' 'P.CAYNA' 'A. COLPAS' 'P.YACAS' 'C.MASQUIN' 'P.YAMOR'
 'PÁUCAR' 'TANGOR' 'QUIO' 'CAURY' 'CHUCCHUC' 'COQUIN' 'A.YAPOC'
 'P.YANAHUANCA' 'HUAYLACIRCA' 'HUARANTAMBO' 'ANDUCHACA' 'VILLO'
 'MICHIVILCA' 'PILLAO' 'YACÁN' 'TÁPUC' 'CHAUPIMARCA' 'P.OXAPAMPA'
 'P.JAUJA' 'A.CHUNÁN' 'C.PACAPACHA' 'HUANCAS' 'A.HUERTAS' 'PACA' 'MASMA'
 'ATAURA' 'HUALÁ' 'JULCÁN' 'P.RICRÁN' 'A.PAUCÁN' 'P.APATA' 'HUAMALÍ'
 'A.SAN LORENZO' 'PACUCHO' 'P.ORCOTUNA' 'A.VICSO' 'TISTES' 'P.HUARIPAMPA'
 'A.PARCO' 'PACCHA' 'CANCHAPUNCO' 'C.ULLUSCA' 'CANCHAS' 'P.MUQUIYAUYO'
 'MUQUI' 'P.ACOLLA' 'MARCO' 'TRAGADERO' 'CHOCÓN' 'ACAYA' 'YAUJAILLO'
 'CURICACA' 'P.CINCOS' 'C.LLACUARI' 'P.HUANCARÍ' 'C.CHALHUAS' 'ARAMACHAY'
 'P.MITO' 'A.CHAMBARÁ' 'C.QUICHA' 'HUACHAC' 'A.ACO' 'P.LLOCLLAPAMPA'
 'VISCAS ESPERANZA' 'CONCHAILLO' 'MATA-CHICO' 'MATA-GRANDE' 'P.CONCEPCIÓN'
 'SANTA ROSA DE OCOPA' 'HUANTAR' 'A.ALAYO' 'C.SAN ANTONIO DE CARICANCHO'
 'SANTO DOMINGO' 'P.CÓMAS' 'C.CHUPA' 'COCHAS' 'P.MATAHUASI' 'P.HUANCAYO'
 'CAJAS' 'P.CHUPACA' 'A.ISCOS' 'ANTAPAMPA' 'HUAUSCA GRANDE'
 'SAN JUAN DE TARPA' 'YANACANCHA' 'COPCA' 'HUAYAN' 'HUAMANCACA'
 'PILCOMAYO' 'AHUAC' 'ACAC' 'P.SAN GERÓNIMO' 'HUALHUAS'
 'SAN PEDRO DE SAÑO' 'QUICHUAY' 'CASACANCHA' 'A.INGENIO'
 'P.SANTA CRUZ DE QUILCAY' 'RANGRA' 'P.SAPALLANGA' 'A.LA PUNTA' 'P.PUCARÁ'
 'C.PATALÁ' 'MARCAVALLE' 'COCHARCAS' 'P.CHONGOS' 'C.TURPAC Y TINYARI'
 'SOCOS' 'PUMPUNGA' 'CHUPURO' 'CARHUAPACHA' 'A.HUAMANCACA' 'P.SICAYA'
 'A.HUANCHAC' 'C.CACHICAMARCA' 'P.COLCA' 'A.CHACAPAMPA' 'HUASICANCHA'
 'CUCHO' 'CHILIAY' 'POTACA' 'LARIA' 'CHONGOS ALTO' 'P.HUAYUCACHI'
 'HUAMANMARCA' 'VIQUES' 'CACAS' 'HUARAPUQUIO' 'CULLHUAS' 'RETAMA' 'PACHA'
 'P.TARMA' 'MACO' 'MULLUERO' 'ANDAMARCA' 'CHANCHA' 'TARMATAMBO' 'P.JUNÍN'
 'HUASAHUASY' 'PARI' 'YANEC' 'CHUPÁN' 'ACONCOCHA' 'ONDORES' 'P.ACOBAMBA'
 'PICOY' 'C.HUARACAYO' 'A.PALCA' 'C.HUAILAHUICHÁN' 'P.PALCAMAYO' 'P.OROYA'
 'HUAYNACANCHA' 'HUAYHUAY' 'P.CARHUAMAYO' 'ULCUMAYO' 'P.SAN RAMÓN'
 'LA MERCED' 'P.VISCATÁN' 'PAN DE AZÚCAR' 'SUITUCANCHA' 'CHACAPALCA'
 'P.POMACOCHA' 'PACHACHACA' 'YAULI' 'MINAS DE MOROCOCHA']

['CIUDAD DEL CERRO' 'HUAYLLAY' 'CHACAYÁN' 'CAYNA' 'YANAHUANCA' 'NINACACA'
 'JAUJA' 'APATA' 'ORCOTUNA' 'HUARIPAMPA' 'MUQUIYAUYO' 'ACOLLA' 'CINCOS'
 'MITO' 'LLOCLLAPAMPA' 'CONCEPCIÓN' 'COCHAS' 'MATAHUASI' 'HUANCAYO'
 'CHUPACA' 'SAN GERÓNIMO' 'SAPALLANGA' 'CHONGOS' 'SICAYA' 'COLCA'
 'HUAYUCACHI' 'TARMA' 'JUNÍN' 'ACOBAMBA' 'OROYA' 'CARHUAMAYO'
 'CHANCHAMAYO' 'VITOC' 'CHACAPALCA' 'YAULI']

#### 7. Borrar las varaibles finished_instr_total, finished_instr_men y finished_instr_women

In [15]:
junin_2 = junin.drop(['finished_instr_total','finished_instr_men', 'finished_instr_women'],  axis = 1)
junin_2 #renombramos la  base sin las columnas elimnadas

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,209,544,361,216,1,1,4,284,290,1
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,50,100,50,50,0,0,0,100,0,0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,25,72,47,25,0,0,0,69,3,0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,25,50,25,25,0,0,0,25,25,0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,72,72,0,0,0,0,35,39,0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,7,23,16,7,0,0,0,21,2,0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,8,30,22,8,0,0,0,4,26,0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,103,76,44,0,0,37,14,69,0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,30,126,96,30,0,0,1,118,7,0

#### 8. Crear columnas con las siguiente información: el % de mujeres que no escriben ni leen, % de varones que no escriben ni leen y % de nativos respecto al total de la población.

In [20]:
junin_2['Total_Poblacion']=(junin_2['whites']+junin_2['natives']+junin_2['mestizos']+junin_2['blacks']) #total de la población


junin_2['mujeres_nwrite'] = (((junin_2['nlee_mujer'])/junin_2['Total_Poblacion'])*100).round() #% de mujeres que no escriben
junin_2['mujeres_nread'] = (((junin_2['nlee_mujer'])/junin_2['Total_Poblacion'])*100).round() #% de mujeres que no escribe
junin_2['hombres_nwrite'] =(((junin_2['nlee_hombre'])/junin_2['Total_Poblacion'])*100).round()
junin_2['hombres_nread'] =(((junin_2['nlee_hombre'])/junin_2['Total_Poblacion'])*100).round()
junin_2['percent_nativos'] =(((junin_2['natives'])/junin_2['Total_Poblacion'])*100).round()

junin_2

,Unnamed: 0,Region,District,comunidad,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,...,whites,natives,mestizos,blacks,Total_Poblacion,mujeres_nwrite,mujeres_nread,hombres_nwrite,hombres_nread,percent_nativos
0,0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,...,4,284,290,1,579,25.0,25.0,35.0,35.0,49.0
1,1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,...,0,100,0,0,100,50.0,50.0,20.0,20.0,100.0
2,2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,...,0,69,3,0,72,35.0,35.0,31.0,31.0,96.0
3,3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,...,0,25,25,0,50,50.0,50.0,0.0,0.0,50.0
4,4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,...,0,37,13,0,50,50.0,50.0,44.0,44.0,74.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,...,0,35,39,0,74,0.0,0.0,41.0,41.0,47.0
193,193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,...,0,21,2,0,23,30.0,30.0,35.0,35.0,91.0
194,194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,...,0,4,26,0,30,23.0,23.0,50.0,50.0,13.0
195,195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,...,37,14,69,0,120,18.0,18.0,29.0,29.0,12.0
196,196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,...,1,118,7,0,126,24.0,24.0,70.0,70.0,94.0

#### 9. Crear una base de datos con la siguiente información:
- Quedarse con la información de los distritos de Ciudad del Cerro, Jauja, Acolla, San Gerónimo, Tarma, Oroya y Concepción
- Ciudades con una cantidad de niños (4-6 años) mayor a 50 y de (6-14 años) > 70
- Ordenar las variables según el total de la población y cantidad de población nativa
- Solo quedarse con las variables trabajadas en 8, Distrito, y comunidad.
- Guardar la mitad de la información en bases diferentes (llamar a cada uno Base1 y Base 2)
- Guardar la Base1 en formato csv y excel en la carpeta data. (Use el siguiente nombre Base1_WG(numero de grupo))

#### 10. Crear una función que me permita extraer columnas un rango de columnas y de filas. Crear una función que me permite extraer una columna según el nombre de la variable y dos filas.