# Workgroup 3 resolution  - Python script

In [1]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 75%; }
    div#menubar-container     { width: 95%; }
    div#maintoolbar-container { width: 65%; }a
</style>
"""))

In [5]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series


junin_data = pd.read_excel("../../data/Region_Junin.xlsx")

In [8]:
junin_data.drop(junin_data.columns[0], axis=1, inplace=True)  

# drop first column
# inplace True let us to altere data

In [9]:
junin_data

,Region,District,Place,4_6_years_men,4_6_years_women,4_6_years_total,6_14_years_men,6_14_years_women,6_14_years_total,man_read,...,not_finished_instr_women,not_finished_instr_total,peruvian_men,peruvian_women,foreign_men,foreign_women,whites,natives,mestizos,blacks
0,JUNIN,CIUDAD DEL CERRO,C.CIUDAD DEL CERRO,65,46,111,297,171,468,158,...,209,544,361,216,1,1,4,284,290,1
1,JUNIN,CIUDAD DEL CERRO,P.YANACANCHA,1,3,4,49,47,96,30,...,50,100,50,50,0,0,0,100,0,0
2,JUNIN,CIUDAD DEL CERRO,VICO,1,0,1,46,25,71,25,...,25,72,47,25,0,0,0,69,3,0
3,JUNIN,CIUDAD DEL CERRO,RANCA,0,6,6,25,19,44,25,...,25,50,25,25,0,0,0,25,25,0
4,JUNIN,CIUDAD DEL CERRO,PASCO,4,4,8,21,21,42,3,...,25,50,25,25,0,0,0,37,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,JUNIN,CHACAPALCA,CHACAPALCA,1,0,1,71,0,71,42,...,0,72,72,0,0,0,0,35,39,0
193,JUNIN,YAULI,P.POMACOCHA,1,0,1,15,7,22,8,...,7,23,16,7,0,0,0,21,2,0
194,JUNIN,YAULI,PACHACHACA,2,0,2,20,8,28,7,...,8,30,22,8,0,0,0,4,26,0
195,JUNIN,YAULI,YAULI,2,6,8,74,38,112,41,...,37,103,76,44,0,0,37,14,69,0
196,JUNIN,YAULI,MINAS DE MOROCOCHA,9,5,14,87,25,112,8,...,30,126,96,30,0,0,1,118,7,0

In [13]:
# all varaibles in a Series Pandas  

print(junin_data.columns)

type(junin_data.columns)

Index(['Region', 'District', 'Place', '4_6_years_men', '4_6_years_women',
       '4_6_years_total', '6_14_years_men', '6_14_years_women',
       '6_14_years_total', 'man_read', 'women_read', 'total_read',
       'men_not_read', 'women_not_read', 'total_not_read', 'man_write',
       'women_write', 'total_write', 'men_not_write', 'women_not_write',
       'total_not_write', 'instruction_men', 'instruction_women',
       'instruction_total', 'no_instruction_men', 'no_instruction_women',
       'no_instruction_total', 'finished_instr_men', 'finished_instr_women',
       'finished_instr_total', 'not_finished_instr_men',
       'not_finished_instr_women', 'not_finished_instr_total', 'peruvian_men',
       'peruvian_women', 'foreign_men', 'foreign_women', 'whites', 'natives',
       'mestizos', 'blacks'],
      dtype='object')

pandas.core.indexes.base.Index

In [14]:
# Type of varaibles 

junin_data.info()

# First varaibles are object type (string), the rest of variables is int type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Region                    197 non-null    object
 1   District                  197 non-null    object
 2   Place                     197 non-null    object
 3   4_6_years_men             197 non-null    int64
 4   4_6_years_women           197 non-null    int64
 5   4_6_years_total           197 non-null    int64
 6   6_14_years_men            197 non-null    int64
 7   6_14_years_women          197 non-null    int64
 8   6_14_years_total          197 non-null    int64
 9   man_read                  197 non-null    int64
 10  women_read                197 non-null    int64
 11  total_read                197 non-null    int64
 12  men_not_read              197 non-null    int64
 13  women_not_read            197 non-null    int64
 14  total_not_read            197 non-null    int64
 15  man_write                 197 non-null    int64
 16  women_write               197 non-null    int64
 17  total_write               197 non-null    int64
 18  men_not_write             197 non-null    int64
 19  women_not_write           197 non-null    int64
 20  total_not_write           197 non-null    int64
 21  instruction_men           197 non-null    int64
 22  instruction_women         197 non-null    int64
 23  instruction_total         197 non-null    int64
 24  no_instruction_men        197 non-null    int64
 25  no_instruction_women      197 non-null    int64
 26  no_instruction_total      197 non-null    int64
 27  finished_instr_men        197 non-null    int64
 28  finished_instr_women      197 non-null    int64
 29  finished_instr_total      197 non-null    int64
 30  not_finished_instr_men    197 non-null    int64
 31  not_finished_instr_women  197 non-null    int64
 32  not_finished_instr_total  197 non-null    int64
 33  peruvian_men              197 non-null    int64
 34  peruvian_women            197 non-null    int64
 35  foreign_men               197 non-null    int64
 36  foreign_women             197 non-null    int64
 37  whites                    197 non-null    int64
 38  natives                   197 non-null    int64
 39  mestizos                  197 non-null    int64
 40  blacks                    197 non-null    int64
dtypes: int64(38), object(3)
memory usage: 63.2+ KB

In [23]:
# Checking missing values

names = junin_data.columns

for j in names:
    
    a = junin_data.isnull().values.any()
    if (a == True):
        print(f"{j} has missing values")
            
    else: 
        print(f"{j} does not has missing values")

Region does not has missing values
District does not has missing values
Place does not has missing values
4_6_years_men does not has missing values
4_6_years_women does not has missing values
4_6_years_total does not has missing values
6_14_years_men does not has missing values
6_14_years_women does not has missing values
6_14_years_total does not has missing values
man_read does not has missing values
women_read does not has missing values
total_read does not has missing values
men_not_read does not has missing values
women_not_read does not has missing values
total_not_read does not has missing values
man_write does not has missing values
women_write does not has missing values
total_write does not has missing values
men_not_write does not has missing values
women_not_write does not has missing values
total_not_write does not has missing values
instruction_men does not has missing values
instruction_women does not has missing values
instruction_total does not has missing values
no_instruction_men does not has missing values
no_instruction_women does not has missing values
no_instruction_total does not has missing values
finished_instr_men does not has missing values
finished_instr_women does not has missing values
finished_instr_total does not has missing values
not_finished_instr_men does not has missing values
not_finished_instr_women does not has missing values
not_finished_instr_total does not has missing values
peruvian_men does not has missing values
peruvian_women does not has missing values
foreign_men does not has missing values
foreign_women does not has missing values
whites does not has missing values
natives does not has missing values
mestizos does not has missing values
blacks does not has missing values

In [ ]:
# rename varaibles 
dict_name = {'Place': 'comunidad','men_not_read': 'nlee_hombre', 'women_not_read: nlee_hombre', 'men_not_write': 'nesc_hombre', 'women_not_write' : 'nesc_hombre', }

movie_usa.rename(columns = dict_name, inplace = True)