# 1. IF STATEMENT

Un archivo .csv llamado notas está en la carpeta data. Esta base de datos posee información de algunos postulantes universitarios a la universidad. Use if statement para crear una nueva columna e indicar si el el alumno ingreso o no (nota minima aprobatoria es 11). Luego crear un columna para colocar el nombre completo de la carrera a la que postulo el alumno (a001 : Economia, a002: quimica, a003: filosofia).

In [1]:
import pandas as pd

postulantes = pd.read_csv(r"..\..\data\notas.csv")

postulantes

     alumnos   notas carrera
0       DIEGO     10    a001
1     GABRIEL      4    a001
2       ANDRE      7    a001
3      ANDRES     16    a002
4    FERNANDO     16    a003
5    MILAGROS     19    a002
6       OSCAR      9    a001
7     RODRIGO      1    a003
8   ALEJANDRO      7    a001
9     LORENZO     21    a001
10     ELIANE     18    a001
11     ALDAIR     15    a002
12       LUIS      0    a004
13     JAVIER     12    a001
14     ALONSO     17    a002
15      MARCO     18    a001
16  SEBASTIAN     15    a004
17     LUZCIA      0    a001
18      NAYEL     18    a004
19    JOAQUIN      4    a002
20   ILIZARBE      6    a001
21    VIVIANA     18    a004
22       LUIS     10    a004
23      ROCIO     13    a002
24      LEIDY     21    a001
25    MELISSA     16    a002
26   FERNANDO     15    a001
27     MARTIN     21    a001
28    DANIELA     17    a003
29    GONZALO      7    a001
30      SOFIA      6    a003
31     ANGEL      10    a004
32     CAMILA      1    a001
33      ROSA       3    a001
34    MARCELO     21    a002
35      JOSUE     16    a001
36      RUBEN     19    a002
37       HUGO     13    a003

In [2]:
i=0
nrows = postulantes.notas.count()

while i < nrows:
    if postulantes['notas'][i] < 11:
        postulantes.loc[[i],["Estado"]] = "no ingresó"
    else:
        postulantes.loc[[i],["Estado"]] = "ingresó" 
    
    i += 1 

postulantes

     alumnos   notas carrera      Estado
0       DIEGO     10    a001  no ingresó
1     GABRIEL      4    a001  no ingresó
2       ANDRE      7    a001  no ingresó
3      ANDRES     16    a002     ingresó
4    FERNANDO     16    a003     ingresó
5    MILAGROS     19    a002     ingresó
6       OSCAR      9    a001  no ingresó
7     RODRIGO      1    a003  no ingresó
8   ALEJANDRO      7    a001  no ingresó
9     LORENZO     21    a001     ingresó
10     ELIANE     18    a001     ingresó
11     ALDAIR     15    a002     ingresó
12       LUIS      0    a004  no ingresó
13     JAVIER     12    a001     ingresó
14     ALONSO     17    a002     ingresó
15      MARCO     18    a001     ingresó
16  SEBASTIAN     15    a004     ingresó
17     LUZCIA      0    a001  no ingresó
18      NAYEL     18    a004     ingresó
19    JOAQUIN      4    a002  no ingresó
20   ILIZARBE      6    a001  no ingresó
21    VIVIANA     18    a004     ingresó
22       LUIS     10    a004  no ingresó
23      ROCIO     13    a002     ingresó
24      LEIDY     21    a001     ingresó
25    MELISSA     16    a002     ingresó
26   FERNANDO     15    a001     ingresó
27     MARTIN     21    a001     ingresó
28    DANIELA     17    a003     ingresó
29    GONZALO      7    a001  no ingresó
30      SOFIA      6    a003  no ingresó
31     ANGEL      10    a004  no ingresó
32     CAMILA      1    a001  no ingresó
33      ROSA       3    a001  no ingresó
34    MARCELO     21    a002     ingresó
35      JOSUE     16    a001     ingresó
36      RUBEN     19    a002     ingresó
37       HUGO     13    a003     ingresó

In [3]:
i=0
nrows = postulantes.notas.count()

while i < nrows:
    if postulantes['carrera'][i] == "a001":
        postulantes.loc[[i],["nombre_carrera"]] = "ECONOMÍA"
    elif postulantes['carrera'][i] == "a002":
        postulantes.loc[[i],["nombre_carrera"]] = "QUÍMICA"
    elif  postulantes['carrera'][i] == "a003":
        postulantes.loc[[i],["nombre_carrera"]] = "FILOSOFÍA"
    else:
        postulantes.loc[[i],["nombre_carrera"]] = "-"
    
    i += 1 
    
postulantes

     alumnos   notas carrera      Estado nombre_carrera
0       DIEGO     10    a001  no ingresó       ECONOMÍA
1     GABRIEL      4    a001  no ingresó       ECONOMÍA
2       ANDRE      7    a001  no ingresó       ECONOMÍA
3      ANDRES     16    a002     ingresó        QUÍMICA
4    FERNANDO     16    a003     ingresó      FILOSOFÍA
5    MILAGROS     19    a002     ingresó        QUÍMICA
6       OSCAR      9    a001  no ingresó       ECONOMÍA
7     RODRIGO      1    a003  no ingresó      FILOSOFÍA
8   ALEJANDRO      7    a001  no ingresó       ECONOMÍA
9     LORENZO     21    a001     ingresó       ECONOMÍA
10     ELIANE     18    a001     ingresó       ECONOMÍA
11     ALDAIR     15    a002     ingresó        QUÍMICA
12       LUIS      0    a004  no ingresó              -
13     JAVIER     12    a001     ingresó       ECONOMÍA
14     ALONSO     17    a002     ingresó        QUÍMICA
15      MARCO     18    a001     ingresó       ECONOMÍA
16  SEBASTIAN     15    a004     ingresó              -
17     LUZCIA      0    a001  no ingresó       ECONOMÍA
18      NAYEL     18    a004     ingresó              -
19    JOAQUIN      4    a002  no ingresó        QUÍMICA
20   ILIZARBE      6    a001  no ingresó       ECONOMÍA
21    VIVIANA     18    a004     ingresó              -
22       LUIS     10    a004  no ingresó              -
23      ROCIO     13    a002     ingresó        QUÍMICA
24      LEIDY     21    a001     ingresó       ECONOMÍA
25    MELISSA     16    a002     ingresó        QUÍMICA
26   FERNANDO     15    a001     ingresó       ECONOMÍA
27     MARTIN     21    a001     ingresó       ECONOMÍA
28    DANIELA     17    a003     ingresó      FILOSOFÍA
29    GONZALO      7    a001  no ingresó       ECONOMÍA
30      SOFIA      6    a003  no ingresó      FILOSOFÍA
31     ANGEL      10    a004  no ingresó              -
32     CAMILA      1    a001  no ingresó       ECONOMÍA
33      ROSA       3    a001  no ingresó       ECONOMÍA
34    MARCELO     21    a002     ingresó        QUÍMICA
35      JOSUE     16    a001     ingresó       ECONOMÍA
36      RUBEN     19    a002     ingresó        QUÍMICA
37       HUGO     13    a003     ingresó      FILOSOFÍA

### Use un loop while para mostrar el nombre de las personas ingresantes a la carrera de quimia.

In [11]:
i = 0

nrows = postulantes.notas.count()

while i < nrows:
    if (postulantes['Estado'][i] == 'ingresó' and postulantes['nombre_carrera'][i] == 'QUÍMICA'):
        print(postulantes.iat[i,0])
    i += 1

ANDRES
MILAGROS
ALDAIR
ALONSO
ROCIO
MELISSA
MARCELO
RUBEN

# 2. Loops
### Simule un proceso generador de datos con 10 mil observaciones como se explicó en la primera práctica dirigida. Use un loop para obtener los coeficientes estimados con los siguientes tamaños de muestra (10, 50, 100,200,500,1000,5000). Guardar los coeficientes estimados en un Dataframe. Nombre las columnas del dataframe con los coeficientes estimados (i.e b1, b2, b3 ...) ; y las filas, con el tamaño de muestra (n=10 , n= 50, ... ).

In [50]:
import random 
import numpy as np
import pandas as pd

random.seed(2000)

x1 = np.random.rand(10000) # uniform distribution  [0,1]
x2 = np.random.rand(10000) # uniform distribution [0,1]
x3 = np.random.rand(10000) # uniform distribution [0,1]
x4 = np.random.rand(10000) # uniform distribution [0,1]
e = np.random.normal(0,1,10000) # normal distribution mean = 0 and sd = 1

# Poblacional regression (Data Generating Process GDP)


Y = 1 + 0.3*x1 + 0.75*x2 - 4.3*x3 + 3.6*x4 + e

In [51]:
X = np.column_stack((np.ones(10000),x1,x2,x3,x4))
X

array([[1.        , 0.44178147, 0.3952978 , 0.27707857, 0.42790903],
       [1.        , 0.81651573, 0.11816084, 0.32545327, 0.50700204],
       [1.        , 0.41751073, 0.62210844, 0.57389619, 0.59593395],
       ...,
       [1.        , 0.80985353, 0.66682188, 0.01366531, 0.12099198],
       [1.        , 0.401988  , 0.85830076, 0.04396776, 0.99524912],
       [1.        , 0.11508547, 0.14329273, 0.12930049, 0.44464447]])

In [52]:
#Betas estimados de toda la muestra (n=10000)
beta = np.linalg.inv(X.T @ X) @ ((X.T) @ Y )
print(beta)

[ 1.02649781  0.27525411  0.71514055 -4.33585975  3.63197832]

In [66]:
num = (10,50,100,200,500,1000,5000)
betas = np.zeros((7,5))

for i in np.arange(0,len(num)):
    Xn = X[1:num[i],:]
    betas[i,:] = np.linalg.inv(Xn.T @ Xn) @ ((Xn.T) @ Y[1:num[i]] )
    #print(Xn)
    #print(a[i])
    #print(betaN)
    
    
num1 = np.asarray(num)
df = pd.DataFrame(betas, columns = ['b1','b2','b3','b4','b5'])
df['N'] = num1
#df1 = pd.DataFrame((df.N,df.b1,df.b2,df.b3,df.b4,df.b5).transpose())
print(df)

         b1        b2        b3        b4         b5     N
0 -1.047217 -2.825343  0.926833 -2.985934  10.085221    10
1  1.294513 -0.326443  0.980710 -4.928064   3.888611    50
2  1.557563 -0.213546  0.483526 -4.843178   3.903481   100
3  1.178215 -0.052365  0.698491 -4.397857   3.761399   200
4  1.078385  0.143900  0.808903 -4.413008   3.610448   500
5  1.129545  0.211978  0.674700 -4.365548   3.532316  1000
6  0.977258  0.309639  0.719704 -4.262379   3.630011  5000

### Use la base de datos production_fish.csv para obtener el porcentaje de consumo de ciertos tipos de producción marina respecto al consumo de anchoveta. Crear esta información solo para los siguiente tipos producción marina: Atun, Jurel, Langostino, Tollo.

In [68]:
production_fish = pd.read_csv( r"..\..\data\production_fish.csv" )

In [69]:
production_fish.head(3)

,year,Anchoveta,Concha de abanico,Langostino,Merluza,Calamar gigante,Atun,Caballa,Jurel,Sardina,Concha de abanico.1,Jurel.1,Liza,Tollo,total_production
0,2005,8628.396,13.537,9.021,23.279000,235.630000,9.877000,25.711000,20.481000,0.16500,1.843080,56.167940,5.875600,0.430000,9030.413620
1,2006,5891.838,14.714,11.295,25.189000,365.729000,11.336000,58.245000,122.904000,0.04800,4.048000,136.827000,3.166000,1.584000,6646.923000
2,2007,6084.713,19.937,13.548,28.358488,379.556594,3.713293,26.248739,82.910307,0.00102,4.822991,134.887316,9.317622,2.834958,6790.849328

In [70]:
production_fish.columns.to_list()[ 1:-1 ]

['Anchoveta',
 'Concha de abanico',
 'Langostino',
 'Merluza',
 'Calamar gigante',
 'Atun',
 'Caballa',
 'Jurel',
 'Sardina',
 'Concha de abanico.1',
 'Jurel.1',
 'Liza',
 'Tollo']

In [75]:
select = ("Atun","Jurel","Langostino","Tollo")
for col in select:
    production_fish[ f'%_{col}' ]  = production_fish[ f'{col}' ] * 100 / production_fish[ 'Anchoveta' ]

In [78]:
production_fish.head(10)

,year,Anchoveta,Concha de abanico,Langostino,Merluza,Calamar gigante,Atun,Caballa,Jurel,Sardina,Concha de abanico.1,Jurel.1,Liza,Tollo,total_production,%_Atun,%_Jurel,%_Langostino,%_Tollo
0,2005,8628.396000,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.165000,1.843080,56.167940,5.875600,0.430000,9030.413620,0.114471,0.237367,0.104550,0.004984
1,2006,5891.838000,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.048000,4.048000,136.827000,3.166000,1.584000,6646.923000,0.192402,2.086004,0.191706,0.026885
2,2007,6084.713000,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.001020,4.822991,134.887316,9.317622,2.834958,6790.849328,0.061027,1.362600,0.222656,0.046591
3,2008,6159.387000,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.000000,0.828187,80.092885,14.514054,2.933360,6909.715000,0.053312,0.955683,0.208089,0.047624
4,2009,5828.636000,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.000000,1.843072,47.079175,17.311344,4.057886,6394.982610,0.034606,0.245152,0.203777,0.069620
5,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3810.729233,0.275727,0.173380,0.434719,0.149973
6,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7719.283666,0.094097,1.189669,0.334060,0.081249
7,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,4383.587990,0.030187,1.182877,0.614727,0.114660
8,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,5418.515737,0.150111,0.151398,0.401996,0.082994
9,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2932.865039,0.209915,0.393826,0.964905,0.230857

### (Ejercicio solo en Python) Usar la base de datos places result para crear un DataFrame con la siguiente información: nombre de la institución pública, dirección (formatted_address), situación de actividad (business_status) y las coordenadas correspondientes a northeast y southwest.

In [82]:
#pip install tqdm

In [81]:
from tqdm import tqdm   #measure time
import pickle

In [83]:
dictionary_places = open( r"..\..\data\places_result", "rb")
places_result = pickle.load( dictionary_places )

In [89]:
places_result

{'html_attributions': [],
 'next_page_token': 'ATtYBwLh3uoP6jf4PKq9MlBMva7T7gLX6me9h6L5-7i1S_rPK5kF5MWqfRs1uVgEIa5dNPHQoLBeEpVlplDyNOVjQU7xjJBjzG9eijTYJ0buu9nF8zXLewvwFyr7p67kCkLIBOiHY-m4NPnbbT4LwSW1uuSY7oLjKMiqR7URA3uxtOPuwtxE7XlXKqxAxBrwetdCYMaSAWY7Q1ayAtVBFewBlNSVEPJn3KyH_eBQm-lOjGhapko0wn8OqcY91Jdr6gL-IXSNOHjq5G7b8Le4t72xJuECcfOk9WMbks2NN_NEwTHVs9h-OYP7IVxnEZECOkJ8JwOvrLfSCkM-ppAvth5uuA-8_ini-uEf_8wccEgmd6mmUgwXhRo9JEsEM97unu-5cW-X4rPoLiVQsSDlBfpDDYx1tn6LehAn7scIcwlrmExDowVjn48ZlXHMzuyrUn8n1CfbS-_g_g',
 'results': [{'business_status': 'OPERATIONAL',
   'formatted_address': '11 Sokode Crescent, Off Dalaba Street Zone 5, Wuse P. M. B, 18, Garki, Abuja',
   'geometry': {'location': {'lat': 9.065977, 'lng': 7.4549606},
    'viewport': {'northeast': {'lat': 9.067332429892723,
      'lng': 7.456282779892721},
     'southwest': {'lat': 9.064632770107277, 'lng': 7.453583120107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1080,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110095172826797559117">Fortune Arinze</a>'],
     'photo_reference': 'ATtYBwIfz2h2rM_FJkG-yQBlkVWKeovt6ifUcEMS-oibn4T5zgXhLpqhrl1lj07-RfAhWjrwClBoAgc_3Ckh-TekOWbaaQu-0J03OHYQBMqZK6xYSOonfP3tABNHcj_--1XB6urnlYHXNenRO8RhLJC9ahW3AjPS3t2Z4Ssh9hV-hQ-VjJuy',
     'width': 1920}],
   'place_id': 'ChIJwRTVOSELThARczd6MyuWUbs',
   'plus_code': {'compound_code': '3F83+9X Abuja',
    'global_code': '6FX93F83+9X'},
   'rating': 3.8,
   'reference': 'ChIJwRTVOSELThARczd6MyuWUbs',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 314},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Lafia - Shandam Rd, Lafia',
   'geometry': {'location': {'lat': 8.50573, 'lng': 8.531774799999999},
    'viewport': {'northeast': {'lat': 8.506788579892724,
      'lng': 8.53327222989272},
     'southwest': {'lat': 8.50408892010728, 'lng': 8.530572570107276}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission NIMC',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1836,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104393542635093633733">Masoyi Sanda</a>'],
     'photo_reference': 'ATtYBwIE0LfhdRfp-T7JDNqlTgrqdBl2ZWIi0oin4Qv1qcHhrTgfSxBEAaJ29-WNNItxySXH14L1i78PN506HBFHbRrOU_vxYye70ll_1fwxWDqaqja6p4IZ6h-SLnoAEPI1eNayQcyoDoDrB438layysV-a7oIQuNJv9j3Hsv0nkWgDGo4',
     'width': 3264}],
   'place_id': 'ChIJt-5bYuEGURARJyb82LfQ97A',
   'plus_code': {'compound_code': 'GG4J+7P Lafia',
    'global_code': '6FWCGG4J+7P'},
   'rating': 3.7,
   'reference': 'ChIJt-5bYuEGURARJyb82LfQ97A',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 3},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Asa-Dam Rd, opp. Dangote Flour Mills, Ilorin',
   'geometry': {'location': {'lat': 8.450151, 'lng': 4.542503},
    'viewport': {'northeast': {'lat': 8.451072679892722,
      'lng': 4.543705329892721},
     'southwest': {'lat': 8.448373020107278, 'lng': 4.541005670107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJEZsSsTetNxAR1dg3wSeUrCA',
   'plus_code': {'compound_code': 'FG2V+32 Ilorin',
    'global_code': '6FW6FG2V+32'},
   'rating': 4,
   'reference': 'ChIJEZsSsTetNxAR1dg3wSeUrCA',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 24},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'zone 3, No 4 Maputo St, Wuse, Abuja',
   'geometry': {'location': {'lat': 9.058854499999999,
     'lng': 7.468077600000001},
    'viewport': {'northeast': {'lat': 9.06035997989272,
      'lng': 7.469236379892722},
     'southwest': {'lat': 9.057660320107276, 'lng': 7.466536720107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2448,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100674673329877445887">Jacks Elsa</a>'],
     'photo_reference': 'ATtYBwIWfQb45CnKaFUronntBzevJLHPQ6VMm1xhH6_ixbu8Ilkhe1Eo3im_h0_KN3h89dYJ1arCflM3RwFxGg0fcnsy8BsVDxCQ7rfkTCoh9Q0PX-et_eNpyT6WnjmVK0O6VPA33Vk7ZPFjE7kqcE6G-gHV4AhzaTgt9csg6xZC60il5kL6',
     'width': 3264}],
   'place_id': 'ChIJbZxZhq4LThARg41HgXp5W2w',
   'plus_code': {'compound_code': '3F59+G6 Abuja',
    'global_code': '6FX93F59+G6'},
   'rating': 3.4,
   'reference': 'ChIJbZxZhq4LThARg41HgXp5W2w',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 23},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Lamingo Dam Road Plateau',
   'geometry': {'location': {'lat': 9.895973, 'lng': 8.931434},
    'viewport': {'northeast': {'lat': 9.8984195, 'lng': 8.9328039},
     'southwest': {'lat': 9.895157499999998, 'lng': 8.927324300000002}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJUxzO3-lxUxARdZDox6KE6UQ',
   'plus_code': {'compound_code': 'VWWJ+9H Jos', 'global_code': '6FXCVWWJ+9H'},
   'rating': 0,
   'reference': 'ChIJUxzO3-lxUxARdZDox6KE6UQ',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Jos',
   'geometry': {'location': {'lat': 9.892294699999999, 'lng': 8.9175658},
    'viewport': {'northeast': {'lat': 9.893702729892722,
      'lng': 8.91888807989272},
     'southwest': {'lat': 9.891003070107278, 'lng': 8.916188420107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1080,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116242405272440066619">Aliyu zainul abideen</a>'],
     'photo_reference': 'ATtYBwJG5OL_3UP7QDjcMop8AYOD_0fN64mXYffPH5XdLCMLFBFSo0vBZpBBOZZ8LQvxLeSK86QQ-dge4oPX7EDL32eX0G-y_P1lV9BcedkKnhPKn379kdAFIQsiuKhJ56iWGfTT6prFd5DinmvO26zgmj11TuTeEWNs6X_Bf0wp7thjHFG5',
     'width': 1920}],
   'place_id': 'ChIJFWiUH-dzUxAR55hi-MYXLwg',
   'plus_code': {'compound_code': 'VWR9+W2 Jos', 'global_code': '6FXCVWR9+W2'},
   'rating': 3.3,
   'reference': 'ChIJFWiUH-dzUxAR55hi-MYXLwg',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 7},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Kachia',
   'geometry': {'location': {'lat': 9.8572331, 'lng': 7.967971899999998},
    'viewport': {'northeast': {'lat': 9.858620379892722,
      'lng': 7.969346929892722},
     'southwest': {'lat': 9.855920720107278, 'lng': 7.966647270107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission',
   'place_id': 'ChIJ80U4ZjyJUhARGk5bZlIeNzY',
   'plus_code': {'compound_code': 'VX49+V5 Kachia',
    'global_code': '6FX9VX49+V5'},
   'rating': 0,
   'reference': 'ChIJ80U4ZjyJUhARGk5bZlIeNzY',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Jonah Jang Cres, High Level, Makurdi',
   'geometry': {'location': {'lat': 7.711655800000001, 'lng': 8.5265235},
    'viewport': {'northeast': {'lat': 7.712382379892722,
      'lng': 8.528209429892721},
     'southwest': {'lat': 7.709682720107278, 'lng': 8.525509770107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1080,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104445494535423861947">Slim Meyo</a>'],
     'photo_reference': 'ATtYBwK9R9it21i9oYROE6AEzcPpr2Uh2SidNYIJ0ABxd2uvA23NORVr0_xmD8jqtkCoCYLCu8htDa0foSkd6gLhnJPOE0BERWmHDzAne-ZqFrPU0kEBIiH1SJe-6hORIFZ2IEJBDumAac7twjhaxLOZD-9ApAlaFzruj_oz6K4Yl1ayJ4CG',
     'width': 1920}],
   'place_id': 'ChIJ51B2sMGBUBARDKibZrme9gU',
   'plus_code': {'compound_code': 'PG6G+MJ Makurdi',
    'global_code': '6FVCPG6G+MJ'},
   'rating': 3.1,
   'reference': 'ChIJ51B2sMGBUBARDKibZrme9gU',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 35},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '3 Abdulkadir ahmed Close (P.M.B 0281, Bauchi',
   'geometry': {'location': {'lat': 10.310332, 'lng': 9.826602},
    'viewport': {'northeast': {'lat': 10.31170367989272,
      'lng': 9.827927879892721},
     'southwest': {'lat': 10.30900402010728, 'lng': 9.825228220107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1920,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102114576626040120313">Mohammed Zahradeen Umar</a>'],
     'photo_reference': 'ATtYBwL3WNqJiitCLNWeKUU4uye8FUfn0vUNZ_UyCuS0IIY4JojJnFhaGxaxpgSh7CWnoTEAzbmk81iynWT0_lruLYtAzZ3Bx0Yvjf3yLHlt0lI3dsuD5BRY7zWy2luqKxKW9J14Plb_-6GPdiUw1AHmCCMBfvZAshlpha8mlvB6QLW012FR',
     'width': 1088}],
   'place_id': 'ChIJ4X2l_AXXVBAR7v-eH-d9h3E',
   'plus_code': {'compound_code': '8R6G+4J Bauchi',
    'global_code': '7F2F8R6G+4J'},
   'rating': 0,
   'reference': 'ChIJ4X2l_AXXVBAR7v-eH-d9h3E',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Kofar Kabuga, Kano',
   'geometry': {'location': {'lat': 11.9899944, 'lng': 8.4891647},
    'viewport': {'northeast': {'lat': 11.99139672989272,
      'lng': 8.490334129892721},
     'southwest': {'lat': 11.98869707010728, 'lng': 8.487634470107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJE0nEt4CArhERRs1UvLzYZjY',
   'plus_code': {'compound_code': 'XFQQ+XM Kano',
    'global_code': '7F3CXFQQ+XM'},
   'rating': 4.4,
   'reference': 'ChIJE0nEt4CArhERRs1UvLzYZjY',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 12},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Complex, Federal Secretariat, Kawo, Kaduna',
   'geometry': {'location': {'lat': 10.592473, 'lng': 7.449456},
    'viewport': {'northeast': {'lat': 10.59382137989272,
      'lng': 7.450810429892722},
     'southwest': {'lat': 10.59112172010728, 'lng': 7.448110770107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJyZiAR9q1shERK9gFL9AG44I',
   'plus_code': {'compound_code': 'HCRX+XQ Kaduna',
    'global_code': '7F29HCRX+XQ'},
   'rating': 0,
   'reference': 'ChIJyZiAR9q1shERK9gFL9AG44I',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Port-Hacourt Rd, New Owerri, Owerri',
   'geometry': {'location': {'lat': 5.4717813, 'lng': 7.0083439},
    'viewport': {'northeast': {'lat': 5.473014629892722,
      'lng': 7.009477279892723},
     'southwest': {'lat': 5.470314970107278, 'lng': 7.006777620107279}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Center',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJ8-OsvX1ZQhARaNsdHakfc98',
   'plus_code': {'compound_code': 'F2C5+P8 Owerri',
    'global_code': '6FQ9F2C5+P8'},
   'rating': 2.8,
   'reference': 'ChIJ8-OsvX1ZQhARaNsdHakfc98',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 13},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'ITF House, 6, 3rd Floor, Adetokunbo Ademola Cres, Wuse 2, Abuja',
   'geometry': {'location': {'lat': 9.07677, 'lng': 7.493777},
    'viewport': {'northeast': {'lat': 9.078071879892722,
      'lng': 7.495215229892723},
     'southwest': {'lat': 9.075372220107278, 'lng': 7.492515570107279}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJu0OOSjELThAR4d7V7h1GgD4',
   'plus_code': {'compound_code': '3FGV+PG Abuja',
    'global_code': '6FX93FGV+PG'},
   'rating': 3,
   'reference': 'ChIJu0OOSjELThAR4d7V7h1GgD4',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 1},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '9 Obafemi Awolowo Way, Agidingbi, Ikeja',
   'geometry': {'location': {'lat': 6.617086, 'lng': 3.357951},
    'viewport': {'northeast': {'lat': 6.618298179892721,
      'lng': 3.359587779892722},
     'southwest': {'lat': 6.615598520107278, 'lng': 3.356888120107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commision (NIMC) Lagos',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2836,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109021919043392669000">Austin Chikwado Ofor</a>'],
     'photo_reference': 'ATtYBwK-FH7TBnp06XKVDdyzuJrjhWpUAFlugsW1s7ZJKGblziN5YFl8tQWsTFYaHm8rv3k3W701YYMM05LadTLUQ_nbBoK4eGYjYr0da8OYISM4Ra7bPKfttsbdkq6E5q4zpKB-WaW-JciS3-uewEXc4dsw2qojP0hbHuUnCECygykmgSsF',
     'width': 2358}],
   'place_id': 'ChIJD34txsmTOxAR5AEgvWczmGI',
   'plus_code': {'compound_code': 'J985+R5 Ikeja',
    'global_code': '6FR5J985+R5'},
   'rating': 3.4,
   'reference': 'ChIJD34txsmTOxAR5AEgvWczmGI',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 53},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '1 Proda Road,Proda Junction, Emene industrial Layout',
   'geometry': {'location': {'lat': 6.460105899999999,
     'lng': 7.579008999999999},
    'viewport': {'northeast': {'lat': 6.461432879892723,
      'lng': 7.580321279892722},
     'southwest': {'lat': 6.458733220107279, 'lng': 7.577621620107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2048,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116030890989805302110">onyi okeke</a>'],
     'photo_reference': 'ATtYBwJmt3EyNK4J1abWzGe-QT8jIL4LxmPvkFSZ-swph7NeBR4dY2KGdamn-ru4FFYoxTOYgIm8lhvTkaoGBXfQIgbKYTPCkm0FKwRfPB_xJpiWvHk5jeFtnO5RM3lZ_Lpe9xVNVaMm08DtlCkeM7Ils8WFGri7_BKNtg0vqd0T_vCdJ9I3',
     'width': 1152}],
   'place_id': 'ChIJ87i9KbilRBARjzOeBDbKx-c',
   'plus_code': {'compound_code': 'FH6H+2J Enugu',
    'global_code': '6FR9FH6H+2J'},
   'rating': 4,
   'reference': 'ChIJ87i9KbilRBARjzOeBDbKx-c',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 26},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Bayajida Rd, Ungwan Munchi, Kaduna',
   'geometry': {'location': {'lat': 10.5436173, 'lng': 7.4609879},
    'viewport': {'northeast': {'lat': 10.54495552989272,
      'lng': 7.46233667989272},
     'southwest': {'lat': 10.54225587010728, 'lng': 7.459637020107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission, Northwest Zonal Office',
   'place_id': 'ChIJS98oGDi1shER1iS7xWsBExw',
   'plus_code': {'compound_code': 'GFV6+C9 Kaduna',
    'global_code': '7F29GFV6+C9'},
   'rating': 2,
   'reference': 'ChIJS98oGDi1shER1iS7xWsBExw',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 1},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Tal-Udu, FCE Junction Kano',
   'geometry': {'location': {'lat': 11.988203, 'lng': 8.496804},
    'viewport': {'northeast': {'lat': 11.98937482989272,
      'lng': 8.498143229892724},
     'southwest': {'lat': 11.98667517010728, 'lng': 8.49544357010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJRbzDx9CBrhERDCs5gEROpvQ',
   'plus_code': {'compound_code': 'XFQW+7P Kano',
    'global_code': '7F3CXFQW+7P'},
   'rating': 5,
   'reference': 'ChIJRbzDx9CBrhERDCs5gEROpvQ',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 1},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Ndume bypass, Ndume',
   'geometry': {'location': {'lat': 5.5025021, 'lng': 7.517955600000001},
    'viewport': {'northeast': {'lat': 5.503745479892721,
      'lng': 7.519157379892723},
     'southwest': {'lat': 5.501045820107277, 'lng': 7.51645772010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission Umuahia',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJyTS2v4zDQhARJtViYuKIT54',
   'plus_code': {'compound_code': 'GG39+25 Ndume',
    'global_code': '6FQ9GG39+25'},
   'rating': 3.7,
   'reference': 'ChIJyTS2v4zDQhARJtViYuKIT54',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 3},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Umueme, Port Harcourt',
   'geometry': {'location': {'lat': 4.822006, 'lng': 7.0079724},
    'viewport': {'northeast': {'lat': 4.823459929892723,
      'lng': 7.009288279892722},
     'southwest': {'lat': 4.820760270107279, 'lng': 7.006588620107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission',
   'photos': [{'height': 4608,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105954586937635012132">Eleje Chinwendu</a>'],
     'photo_reference': 'ATtYBwJPiTOSvWYumHd9rsNgskLV3VcdNpzOvHKXjRAPQoNinDDB_-3j-8utI5ABTIGc0RA_FboBx_inOA6XhCqzsjcBRnV2rjW-DcfeHXVFEYFUNHoq4EJgkRlSi3CfZFZlOwSkrCjvUtAMSDfl6ZSvOr_Ore3Z4F-n2I2sgsnDKwNEyb3I',
     'width': 2240}],
   'place_id': 'ChIJ79K8E9bNaRARd51XXSlz0Kc',
   'plus_code': {'compound_code': 'R2C5+R5 Port Harcourt',
    'global_code': '6FP9R2C5+R5'},
   'rating': 3.6,
   'reference': 'ChIJ79K8E9bNaRARd51XXSlz0Kc',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 12},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '238 Port Harcourt - Aba Expy, Rumuokwurusi, Port Harcourt',
   'geometry': {'location': {'lat': 4.8496083, 'lng': 7.0527365},
    'viewport': {'northeast': {'lat': 4.850934679892722,
      'lng': 7.054089179892721},
     'southwest': {'lat': 4.848235020107278, 'lng': 7.051389520107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission Nimc',
   'place_id': 'ChIJgRk7A3nNaRAR61Ty7IIGSkU',
   'plus_code': {'compound_code': 'R3X3+R3 Port Harcourt',
    'global_code': '6FP9R3X3+R3'},
   'rating': 3,
   'reference': 'ChIJgRk7A3nNaRAR61Ty7IIGSkU',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 4}],
 'status': 'OK'}

In [85]:
places_result.keys()

dict_keys(['html_attributions', 'next_page_token', 'results', 'status'])

In [92]:
# Lists
institutions = []
direccion = []
status = []

# define all the results
results = places_result[ 'results' ]

# loop para guardar cada uno de los elementos
for row in tqdm( range( 0 , len( results ) ) ):
    
    # nombre de las institucion
    name = results[ row ]['name']
    
    # Direccion
    direcc = results[ row ]['formatted_address']
    
    # Status de la institucion
    stat = results[ row ]['business_status']
    
    # Save results
    status.append( stat )
    direccion.append( direcc )
    institutions.append( name )

    # Diccionario
final_result = { 'Institution': institutions, 'Direccion' : direccion, 'Status' : status }
# Dataframe
df_result = pd.DataFrame( final_result )
df_result

100%|███████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 20034.89it/s]

,Institution,Direccion,Status
0,National Identity Management Commission,"11 Sokode Crescent, Off Dalaba Street Zone 5, ...",OPERATIONAL
1,National Identity Management Commission NIMC,"Lafia - Shandam Rd, Lafia",OPERATIONAL
2,National Identity Management Commission (Nimc),"Asa-Dam Rd, opp. Dangote Flour Mills, Ilorin",OPERATIONAL
3,National Identity Management Commission,"zone 3, No 4 Maputo St, Wuse, Abuja",OPERATIONAL
4,National Identity Management Commission (Nimc),Lamingo Dam Road Plateau,OPERATIONAL
5,National Identity Management Commission,Jos,OPERATIONAL
6,National Identity Management Commission,Kachia,OPERATIONAL
7,National Identity Management Commission (Nimc),"Jonah Jang Cres, High Level, Makurdi",OPERATIONAL
8,National Identity Management Commission (Nimc),"3 Abdulkadir ahmed Close (P.M.B 0281, Bauchi",OPERATIONAL
9,National Identity Management Commission,"Kofar Kabuga, Kano",OPERATIONAL
10,National Identity Management Commission (Nimc),"Complex, Federal Secretariat, Kawo, Kaduna",OPERATIONAL
11,National Identity Management Center,"Port-Hacourt Rd, New Owerri, Owerri",OPERATIONAL
12,National Identity Management Commission (Nimc),"ITF House, 6, 3rd Floor, Adetokunbo Ademola Cr...",OPERATIONAL
13,National Identity Management Commision (NIMC) ...,"9 Obafemi Awolowo Way, Agidingbi, Ikeja",OPERATIONAL
14,National Identity Management Commission,"1 Proda Road,Proda Junction, Emene industrial ...",OPERATIONAL
15,"National Identity Management Commission, North...","Bayajida Rd, Ungwan Munchi, Kaduna",OPERATIONAL
16,National Identity Management Commission (Nimc),"Tal-Udu, FCE Junction Kano",OPERATIONAL
17,National Identity Management Commission Umuahia,"Ndume bypass, Ndume",OPERATIONAL
18,National Identity Management Commission,"Umueme, Port Harcourt",OPERATIONAL
19,National Identity Management Commission Nimc,"238 Port Harcourt - Aba Expy, Rumuokwurusi, Po...",OPERATIONAL