In [1]:
#Un archivo .csv llamado notas está en la carpeta data. 
#Esta base de datos posee información de algunos postulantes universitarios a la universidad. Use if statement para crear una nueva columna e indicar si el el alumno ingreso o no (nota minima aprobatoria es 11). Luego crear un columna para colocar el nombre completo de la carrera a la que postulo el alumno 
#(a001 : Economia, a002: quimica, a003: filosofia).

import pandas as pd
notas_1 = pd.read_csv(r"..\..\data\notas.csv")
notas_1

     alumnos   notas carrera
0       DIEGO     10    a001
1     GABRIEL      4    a001
2       ANDRE      7    a001
3      ANDRES     16    a002
4    FERNANDO     16    a003
5    MILAGROS     19    a002
6       OSCAR      9    a001
7     RODRIGO      1    a003
8   ALEJANDRO      7    a001
9     LORENZO     21    a001
10     ELIANE     18    a001
11     ALDAIR     15    a002
12       LUIS      0    a004
13     JAVIER     12    a001
14     ALONSO     17    a002
15      MARCO     18    a001
16  SEBASTIAN     15    a004
17     LUZCIA      0    a001
18      NAYEL     18    a004
19    JOAQUIN      4    a002
20   ILIZARBE      6    a001
21    VIVIANA     18    a004
22       LUIS     10    a004
23      ROCIO     13    a002
24      LEIDY     21    a001
25    MELISSA     16    a002
26   FERNANDO     15    a001
27     MARTIN     21    a001
28    DANIELA     17    a003
29    GONZALO      7    a001
30      SOFIA      6    a003
31     ANGEL      10    a004
32     CAMILA      1    a001
33      ROSA       3    a001
34    MARCELO     21    a002
35      JOSUE     16    a001
36      RUBEN     19    a002
37       HUGO     13    a003

In [2]:

# Creando nueva columna con descripción ("ingreso" , "no ingreso")
n=0
newcol = notas_1.notas.count()

while n < newcol:
    if notas_1['notas'][n] < 11:
        notas_1.loc[[n],["Estado"]] = "no ingreso"
    else:
        notas_1.loc[[n],["Estado"]] = "ingreso" 
    
    n += 1 

notas_1

     alumnos   notas carrera      Estado
0       DIEGO     10    a001  no ingreso
1     GABRIEL      4    a001  no ingreso
2       ANDRE      7    a001  no ingreso
3      ANDRES     16    a002     ingreso
4    FERNANDO     16    a003     ingreso
5    MILAGROS     19    a002     ingreso
6       OSCAR      9    a001  no ingreso
7     RODRIGO      1    a003  no ingreso
8   ALEJANDRO      7    a001  no ingreso
9     LORENZO     21    a001     ingreso
10     ELIANE     18    a001     ingreso
11     ALDAIR     15    a002     ingreso
12       LUIS      0    a004  no ingreso
13     JAVIER     12    a001     ingreso
14     ALONSO     17    a002     ingreso
15      MARCO     18    a001     ingreso
16  SEBASTIAN     15    a004     ingreso
17     LUZCIA      0    a001  no ingreso
18      NAYEL     18    a004     ingreso
19    JOAQUIN      4    a002  no ingreso
20   ILIZARBE      6    a001  no ingreso
21    VIVIANA     18    a004     ingreso
22       LUIS     10    a004  no ingreso
23      ROCIO     13    a002     ingreso
24      LEIDY     21    a001     ingreso
25    MELISSA     16    a002     ingreso
26   FERNANDO     15    a001     ingreso
27     MARTIN     21    a001     ingreso
28    DANIELA     17    a003     ingreso
29    GONZALO      7    a001  no ingreso
30      SOFIA      6    a003  no ingreso
31     ANGEL      10    a004  no ingreso
32     CAMILA      1    a001  no ingreso
33      ROSA       3    a001  no ingreso
34    MARCELO     21    a002     ingreso
35      JOSUE     16    a001     ingreso
36      RUBEN     19    a002     ingreso
37       HUGO     13    a003     ingreso

In [3]:
#clasificación de postulantes según carrera.
n=0
nrows = notas_1.notas.count()

while n < nrows:
    if notas_1['carrera'][n] == "a001":
        notas_1.loc[[n],["Carrera"]] = "Economia"
    elif notas_1['carrera'][n] == "a002":
        notas_1.loc[[n],["Carrera"]] = "Quimica"
    elif  notas_1['carrera'][n] == "a003":
        notas_1.loc[[n],["Carrera"]] = "Filosofia"
    else:
        notas_1.loc[[n],["Carrera"]] = "NA"
    
    n += 1 
    
notas_1

     alumnos   notas carrera      Estado    Carrera
0       DIEGO     10    a001  no ingreso   Economia
1     GABRIEL      4    a001  no ingreso   Economia
2       ANDRE      7    a001  no ingreso   Economia
3      ANDRES     16    a002     ingreso    Quimica
4    FERNANDO     16    a003     ingreso  Filosofia
5    MILAGROS     19    a002     ingreso    Quimica
6       OSCAR      9    a001  no ingreso   Economia
7     RODRIGO      1    a003  no ingreso  Filosofia
8   ALEJANDRO      7    a001  no ingreso   Economia
9     LORENZO     21    a001     ingreso   Economia
10     ELIANE     18    a001     ingreso   Economia
11     ALDAIR     15    a002     ingreso    Quimica
12       LUIS      0    a004  no ingreso         NA
13     JAVIER     12    a001     ingreso   Economia
14     ALONSO     17    a002     ingreso    Quimica
15      MARCO     18    a001     ingreso   Economia
16  SEBASTIAN     15    a004     ingreso         NA
17     LUZCIA      0    a001  no ingreso   Economia
18      NAYEL     18    a004     ingreso         NA
19    JOAQUIN      4    a002  no ingreso    Quimica
20   ILIZARBE      6    a001  no ingreso   Economia
21    VIVIANA     18    a004     ingreso         NA
22       LUIS     10    a004  no ingreso         NA
23      ROCIO     13    a002     ingreso    Quimica
24      LEIDY     21    a001     ingreso   Economia
25    MELISSA     16    a002     ingreso    Quimica
26   FERNANDO     15    a001     ingreso   Economia
27     MARTIN     21    a001     ingreso   Economia
28    DANIELA     17    a003     ingreso  Filosofia
29    GONZALO      7    a001  no ingreso   Economia
30      SOFIA      6    a003  no ingreso  Filosofia
31     ANGEL      10    a004  no ingreso         NA
32     CAMILA      1    a001  no ingreso   Economia
33      ROSA       3    a001  no ingreso   Economia
34    MARCELO     21    a002     ingreso    Quimica
35      JOSUE     16    a001     ingreso   Economia
36      RUBEN     19    a002     ingreso    Quimica
37       HUGO     13    a003     ingreso  Filosofia

In [4]:
i = 0

nrows = notas_1.Estado.count()

while i < nrows:
    if (notas_1['Estado'][i] == 'ingreso' and notas_1['Carrera'][i] == 'Quimica'):
        print(notas_1.iat[i,0]) # .iat Acceda a un valor único para un par de filas/columnas por posición de número entero.
    i += 1

ANDRES
MILAGROS
ALDAIR
ALONSO
ROCIO
MELISSA
MARCELO
RUBEN

# LOOPS

Simule un proceso generador de datos con 10 mil observaciones como se explicó en la primera práctica dirigida. Use un loop para obtener los coeficientes estimados con los siguientes tamaños de muestra (10, 50, 100,200,500,1000,5000). Guardar los coeficientes estimados en un Dataframe. Nombre las columnas del dataframe con los coeficientes estimados (i.e b1, b2, b3 ...) ; y las filas, con el tamaño de muestra (n=10 , n= 50, ... ).

In [5]:
import random 
import numpy as np

random.seed(10000)
muestra= [10,50,100,200,500,1000,5000]

In [6]:
result = []
for i in range(0,7):
    x1 = np.random.rand(muestra[i]) # uniform distribution  [0,1]
    x2 = np.random.rand(muestra[i])# uniform distribution [0,1]
    x3 = np.random.rand(muestra[i])
    e = np.random.normal(0,1,(muestra[i])) # normal distribution mean = 0 and sd = 1
# Poblacional regression (Data Generating Process GDP)
    M = 0.1 + 4*x1 + 3.2*x2 + 4*x3
    N = np.column_stack((np.ones(muestra[i]), x1,x2))
    beta = np.linalg.inv(N.T @ N) @ ((N.T) @ M )
    result.append(beta)
    print(beta)

[2.73616391 1.47139814 4.70616924]
[2.96347266 3.66305485 2.52683873]
[1.77554027 4.21459995 3.61986096]
[1.99101594 3.95762867 3.41109044]
[2.17745857 3.92316788 3.25415703]
[2.1676765  3.83666174 3.21534362]
[2.10811343 3.99980031 3.19023082]

In [7]:
coef_est = np.vstack(result)
coef_est

array([[2.73616391, 1.47139814, 4.70616924],
       [2.96347266, 3.66305485, 2.52683873],
       [1.77554027, 4.21459995, 3.61986096],
       [1.99101594, 3.95762867, 3.41109044],
       [2.17745857, 3.92316788, 3.25415703],
       [2.1676765 , 3.83666174, 3.21534362],
       [2.10811343, 3.99980031, 3.19023082]])

In [8]:
df2 = pd.DataFrame(coef_est, index= muestra, columns=['b1','b2','b3'])
df2

            b1        b2        b3
10    2.736164  1.471398  4.706169
50    2.963473  3.663055  2.526839
100   1.775540  4.214600  3.619861
200   1.991016  3.957629  3.411090
500   2.177459  3.923168  3.254157
1000  2.167677  3.836662  3.215344
5000  2.108113  3.999800  3.190231

Use la base de datos production_fish.csv para obtener el porcentaje de consumo de ciertos tipos de producción marina respecto al consumo de anchoveta. Crear esta información solo para los siguiente tipos producción marina: Atun, Jurel, Langostino, Tollo.

In [9]:
production_fish = pd.read_csv( r"..\..\data\production_fish.csv" )

In [10]:
production_fish.head()

,year,Anchoveta,Concha de abanico,Langostino,Merluza,Calamar gigante,Atun,Caballa,Jurel,Sardina,Concha de abanico.1,Jurel.1,Liza,Tollo,total_production
0,2005,8628.396,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.16500,1.843080,56.167940,5.875600,0.430000,9030.413620
1,2006,5891.838,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.04800,4.048000,136.827000,3.166000,1.584000,6646.923000
2,2007,6084.713,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.00102,4.822991,134.887316,9.317622,2.834958,6790.849328
3,2008,6159.387,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.00000,0.828187,80.092885,14.514054,2.933360,6909.715000
4,2009,5828.636,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.00000,1.843072,47.079175,17.311344,4.057886,6394.982610

In [11]:
new_gr = ("Atun","Jurel","Langostino","Tollo")
for col in new_gr:
    production_fish[ f'%_{col}' ]  = production_fish[ f'{col}' ] * 100 / production_fish[ 'Anchoveta' ]
production_fish.head()

,year,Anchoveta,Concha de abanico,Langostino,Merluza,Calamar gigante,Atun,Caballa,Jurel,Sardina,Concha de abanico.1,Jurel.1,Liza,Tollo,total_production,%_Atun,%_Jurel,%_Langostino,%_Tollo
0,2005,8628.396,13.537000,9.021000,23.279000,235.630000,9.877000,25.711000,20.481000,0.16500,1.843080,56.167940,5.875600,0.430000,9030.413620,0.114471,0.237367,0.104550,0.004984
1,2006,5891.838,14.714000,11.295000,25.189000,365.729000,11.336000,58.245000,122.904000,0.04800,4.048000,136.827000,3.166000,1.584000,6646.923000,0.192402,2.086004,0.191706,0.026885
2,2007,6084.713,19.937000,13.548000,28.358488,379.556594,3.713293,26.248739,82.910307,0.00102,4.822991,134.887316,9.317622,2.834958,6790.849328,0.061027,1.362600,0.222656,0.046591
3,2008,6159.387,18.790000,12.817000,26.348398,484.162082,3.283711,47.694121,58.864202,0.00000,0.828187,80.092885,14.514054,2.933360,6909.715000,0.053312,0.955683,0.208089,0.047624
4,2009,5828.636,24.634372,11.877399,36.774763,355.106589,2.017061,51.355908,14.289041,0.00000,1.843072,47.079175,17.311344,4.057886,6394.982610,0.034606,0.245152,0.203777,0.069620

(Ejercicio solo en Python) Usar la base de datos places result para crear un DataFrame con la siguiente información: nombre de la institución pública, dirección (formatted_address), situación de actividad (business_status) y las coordenadas correspondientes a northeast y southwest.

In [12]:
from tqdm import tqdm  
import pickle

In [13]:
dictionary_places = open( r"..\..\data\places_result", "rb")
places_result = pickle.load( dictionary_places )

In [14]:
places_result

{'html_attributions': [],
 'next_page_token': 'ATtYBwLh3uoP6jf4PKq9MlBMva7T7gLX6me9h6L5-7i1S_rPK5kF5MWqfRs1uVgEIa5dNPHQoLBeEpVlplDyNOVjQU7xjJBjzG9eijTYJ0buu9nF8zXLewvwFyr7p67kCkLIBOiHY-m4NPnbbT4LwSW1uuSY7oLjKMiqR7URA3uxtOPuwtxE7XlXKqxAxBrwetdCYMaSAWY7Q1ayAtVBFewBlNSVEPJn3KyH_eBQm-lOjGhapko0wn8OqcY91Jdr6gL-IXSNOHjq5G7b8Le4t72xJuECcfOk9WMbks2NN_NEwTHVs9h-OYP7IVxnEZECOkJ8JwOvrLfSCkM-ppAvth5uuA-8_ini-uEf_8wccEgmd6mmUgwXhRo9JEsEM97unu-5cW-X4rPoLiVQsSDlBfpDDYx1tn6LehAn7scIcwlrmExDowVjn48ZlXHMzuyrUn8n1CfbS-_g_g',
 'results': [{'business_status': 'OPERATIONAL',
   'formatted_address': '11 Sokode Crescent, Off Dalaba Street Zone 5, Wuse P. M. B, 18, Garki, Abuja',
   'geometry': {'location': {'lat': 9.065977, 'lng': 7.4549606},
    'viewport': {'northeast': {'lat': 9.067332429892723,
      'lng': 7.456282779892721},
     'southwest': {'lat': 9.064632770107277, 'lng': 7.453583120107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1080,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/110095172826797559117">Fortune Arinze</a>'],
     'photo_reference': 'ATtYBwIfz2h2rM_FJkG-yQBlkVWKeovt6ifUcEMS-oibn4T5zgXhLpqhrl1lj07-RfAhWjrwClBoAgc_3Ckh-TekOWbaaQu-0J03OHYQBMqZK6xYSOonfP3tABNHcj_--1XB6urnlYHXNenRO8RhLJC9ahW3AjPS3t2Z4Ssh9hV-hQ-VjJuy',
     'width': 1920}],
   'place_id': 'ChIJwRTVOSELThARczd6MyuWUbs',
   'plus_code': {'compound_code': '3F83+9X Abuja',
    'global_code': '6FX93F83+9X'},
   'rating': 3.8,
   'reference': 'ChIJwRTVOSELThARczd6MyuWUbs',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 314},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Lafia - Shandam Rd, Lafia',
   'geometry': {'location': {'lat': 8.50573, 'lng': 8.531774799999999},
    'viewport': {'northeast': {'lat': 8.506788579892724,
      'lng': 8.53327222989272},
     'southwest': {'lat': 8.50408892010728, 'lng': 8.530572570107276}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission NIMC',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1836,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104393542635093633733">Masoyi Sanda</a>'],
     'photo_reference': 'ATtYBwIE0LfhdRfp-T7JDNqlTgrqdBl2ZWIi0oin4Qv1qcHhrTgfSxBEAaJ29-WNNItxySXH14L1i78PN506HBFHbRrOU_vxYye70ll_1fwxWDqaqja6p4IZ6h-SLnoAEPI1eNayQcyoDoDrB438layysV-a7oIQuNJv9j3Hsv0nkWgDGo4',
     'width': 3264}],
   'place_id': 'ChIJt-5bYuEGURARJyb82LfQ97A',
   'plus_code': {'compound_code': 'GG4J+7P Lafia',
    'global_code': '6FWCGG4J+7P'},
   'rating': 3.7,
   'reference': 'ChIJt-5bYuEGURARJyb82LfQ97A',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 3},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Asa-Dam Rd, opp. Dangote Flour Mills, Ilorin',
   'geometry': {'location': {'lat': 8.450151, 'lng': 4.542503},
    'viewport': {'northeast': {'lat': 8.451072679892722,
      'lng': 4.543705329892721},
     'southwest': {'lat': 8.448373020107278, 'lng': 4.541005670107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJEZsSsTetNxAR1dg3wSeUrCA',
   'plus_code': {'compound_code': 'FG2V+32 Ilorin',
    'global_code': '6FW6FG2V+32'},
   'rating': 4,
   'reference': 'ChIJEZsSsTetNxAR1dg3wSeUrCA',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 24},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'zone 3, No 4 Maputo St, Wuse, Abuja',
   'geometry': {'location': {'lat': 9.058854499999999,
     'lng': 7.468077600000001},
    'viewport': {'northeast': {'lat': 9.06035997989272,
      'lng': 7.469236379892722},
     'southwest': {'lat': 9.057660320107276, 'lng': 7.466536720107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2448,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100674673329877445887">Jacks Elsa</a>'],
     'photo_reference': 'ATtYBwIWfQb45CnKaFUronntBzevJLHPQ6VMm1xhH6_ixbu8Ilkhe1Eo3im_h0_KN3h89dYJ1arCflM3RwFxGg0fcnsy8BsVDxCQ7rfkTCoh9Q0PX-et_eNpyT6WnjmVK0O6VPA33Vk7ZPFjE7kqcE6G-gHV4AhzaTgt9csg6xZC60il5kL6',
     'width': 3264}],
   'place_id': 'ChIJbZxZhq4LThARg41HgXp5W2w',
   'plus_code': {'compound_code': '3F59+G6 Abuja',
    'global_code': '6FX93F59+G6'},
   'rating': 3.4,
   'reference': 'ChIJbZxZhq4LThARg41HgXp5W2w',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 23},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Lamingo Dam Road Plateau',
   'geometry': {'location': {'lat': 9.895973, 'lng': 8.931434},
    'viewport': {'northeast': {'lat': 9.8984195, 'lng': 8.9328039},
     'southwest': {'lat': 9.895157499999998, 'lng': 8.927324300000002}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJUxzO3-lxUxARdZDox6KE6UQ',
   'plus_code': {'compound_code': 'VWWJ+9H Jos', 'global_code': '6FXCVWWJ+9H'},
   'rating': 0,
   'reference': 'ChIJUxzO3-lxUxARdZDox6KE6UQ',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Jos',
   'geometry': {'location': {'lat': 9.892294699999999, 'lng': 8.9175658},
    'viewport': {'northeast': {'lat': 9.893702729892722,
      'lng': 8.91888807989272},
     'southwest': {'lat': 9.891003070107278, 'lng': 8.916188420107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1080,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116242405272440066619">Aliyu zainul abideen</a>'],
     'photo_reference': 'ATtYBwJG5OL_3UP7QDjcMop8AYOD_0fN64mXYffPH5XdLCMLFBFSo0vBZpBBOZZ8LQvxLeSK86QQ-dge4oPX7EDL32eX0G-y_P1lV9BcedkKnhPKn379kdAFIQsiuKhJ56iWGfTT6prFd5DinmvO26zgmj11TuTeEWNs6X_Bf0wp7thjHFG5',
     'width': 1920}],
   'place_id': 'ChIJFWiUH-dzUxAR55hi-MYXLwg',
   'plus_code': {'compound_code': 'VWR9+W2 Jos', 'global_code': '6FXCVWR9+W2'},
   'rating': 3.3,
   'reference': 'ChIJFWiUH-dzUxAR55hi-MYXLwg',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 7},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Kachia',
   'geometry': {'location': {'lat': 9.8572331, 'lng': 7.967971899999998},
    'viewport': {'northeast': {'lat': 9.858620379892722,
      'lng': 7.969346929892722},
     'southwest': {'lat': 9.855920720107278, 'lng': 7.966647270107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission',
   'place_id': 'ChIJ80U4ZjyJUhARGk5bZlIeNzY',
   'plus_code': {'compound_code': 'VX49+V5 Kachia',
    'global_code': '6FX9VX49+V5'},
   'rating': 0,
   'reference': 'ChIJ80U4ZjyJUhARGk5bZlIeNzY',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Jonah Jang Cres, High Level, Makurdi',
   'geometry': {'location': {'lat': 7.711655800000001, 'lng': 8.5265235},
    'viewport': {'northeast': {'lat': 7.712382379892722,
      'lng': 8.528209429892721},
     'southwest': {'lat': 7.709682720107278, 'lng': 8.525509770107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1080,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104445494535423861947">Slim Meyo</a>'],
     'photo_reference': 'ATtYBwK9R9it21i9oYROE6AEzcPpr2Uh2SidNYIJ0ABxd2uvA23NORVr0_xmD8jqtkCoCYLCu8htDa0foSkd6gLhnJPOE0BERWmHDzAne-ZqFrPU0kEBIiH1SJe-6hORIFZ2IEJBDumAac7twjhaxLOZD-9ApAlaFzruj_oz6K4Yl1ayJ4CG',
     'width': 1920}],
   'place_id': 'ChIJ51B2sMGBUBARDKibZrme9gU',
   'plus_code': {'compound_code': 'PG6G+MJ Makurdi',
    'global_code': '6FVCPG6G+MJ'},
   'rating': 3.1,
   'reference': 'ChIJ51B2sMGBUBARDKibZrme9gU',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 35},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '3 Abdulkadir ahmed Close (P.M.B 0281, Bauchi',
   'geometry': {'location': {'lat': 10.310332, 'lng': 9.826602},
    'viewport': {'northeast': {'lat': 10.31170367989272,
      'lng': 9.827927879892721},
     'southwest': {'lat': 10.30900402010728, 'lng': 9.825228220107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 1920,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102114576626040120313">Mohammed Zahradeen Umar</a>'],
     'photo_reference': 'ATtYBwL3WNqJiitCLNWeKUU4uye8FUfn0vUNZ_UyCuS0IIY4JojJnFhaGxaxpgSh7CWnoTEAzbmk81iynWT0_lruLYtAzZ3Bx0Yvjf3yLHlt0lI3dsuD5BRY7zWy2luqKxKW9J14Plb_-6GPdiUw1AHmCCMBfvZAshlpha8mlvB6QLW012FR',
     'width': 1088}],
   'place_id': 'ChIJ4X2l_AXXVBAR7v-eH-d9h3E',
   'plus_code': {'compound_code': '8R6G+4J Bauchi',
    'global_code': '7F2F8R6G+4J'},
   'rating': 0,
   'reference': 'ChIJ4X2l_AXXVBAR7v-eH-d9h3E',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Kofar Kabuga, Kano',
   'geometry': {'location': {'lat': 11.9899944, 'lng': 8.4891647},
    'viewport': {'northeast': {'lat': 11.99139672989272,
      'lng': 8.490334129892721},
     'southwest': {'lat': 11.98869707010728, 'lng': 8.487634470107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJE0nEt4CArhERRs1UvLzYZjY',
   'plus_code': {'compound_code': 'XFQQ+XM Kano',
    'global_code': '7F3CXFQQ+XM'},
   'rating': 4.4,
   'reference': 'ChIJE0nEt4CArhERRs1UvLzYZjY',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 12},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Complex, Federal Secretariat, Kawo, Kaduna',
   'geometry': {'location': {'lat': 10.592473, 'lng': 7.449456},
    'viewport': {'northeast': {'lat': 10.59382137989272,
      'lng': 7.450810429892722},
     'southwest': {'lat': 10.59112172010728, 'lng': 7.448110770107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJyZiAR9q1shERK9gFL9AG44I',
   'plus_code': {'compound_code': 'HCRX+XQ Kaduna',
    'global_code': '7F29HCRX+XQ'},
   'rating': 0,
   'reference': 'ChIJyZiAR9q1shERK9gFL9AG44I',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 0},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Port-Hacourt Rd, New Owerri, Owerri',
   'geometry': {'location': {'lat': 5.4717813, 'lng': 7.0083439},
    'viewport': {'northeast': {'lat': 5.473014629892722,
      'lng': 7.009477279892723},
     'southwest': {'lat': 5.470314970107278, 'lng': 7.006777620107279}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Center',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJ8-OsvX1ZQhARaNsdHakfc98',
   'plus_code': {'compound_code': 'F2C5+P8 Owerri',
    'global_code': '6FQ9F2C5+P8'},
   'rating': 2.8,
   'reference': 'ChIJ8-OsvX1ZQhARaNsdHakfc98',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 13},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'ITF House, 6, 3rd Floor, Adetokunbo Ademola Cres, Wuse 2, Abuja',
   'geometry': {'location': {'lat': 9.07677, 'lng': 7.493777},
    'viewport': {'northeast': {'lat': 9.078071879892722,
      'lng': 7.495215229892723},
     'southwest': {'lat': 9.075372220107278, 'lng': 7.492515570107279}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJu0OOSjELThAR4d7V7h1GgD4',
   'plus_code': {'compound_code': '3FGV+PG Abuja',
    'global_code': '6FX93FGV+PG'},
   'rating': 3,
   'reference': 'ChIJu0OOSjELThAR4d7V7h1GgD4',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 1},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '9 Obafemi Awolowo Way, Agidingbi, Ikeja',
   'geometry': {'location': {'lat': 6.617086, 'lng': 3.357951},
    'viewport': {'northeast': {'lat': 6.618298179892721,
      'lng': 3.359587779892722},
     'southwest': {'lat': 6.615598520107278, 'lng': 3.356888120107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commision (NIMC) Lagos',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2836,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109021919043392669000">Austin Chikwado Ofor</a>'],
     'photo_reference': 'ATtYBwK-FH7TBnp06XKVDdyzuJrjhWpUAFlugsW1s7ZJKGblziN5YFl8tQWsTFYaHm8rv3k3W701YYMM05LadTLUQ_nbBoK4eGYjYr0da8OYISM4Ra7bPKfttsbdkq6E5q4zpKB-WaW-JciS3-uewEXc4dsw2qojP0hbHuUnCECygykmgSsF',
     'width': 2358}],
   'place_id': 'ChIJD34txsmTOxAR5AEgvWczmGI',
   'plus_code': {'compound_code': 'J985+R5 Ikeja',
    'global_code': '6FR5J985+R5'},
   'rating': 3.4,
   'reference': 'ChIJD34txsmTOxAR5AEgvWczmGI',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 53},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '1 Proda Road,Proda Junction, Emene industrial Layout',
   'geometry': {'location': {'lat': 6.460105899999999,
     'lng': 7.579008999999999},
    'viewport': {'northeast': {'lat': 6.461432879892723,
      'lng': 7.580321279892722},
     'southwest': {'lat': 6.458733220107279, 'lng': 7.577621620107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission',
   'opening_hours': {'open_now': False},
   'photos': [{'height': 2048,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/116030890989805302110">onyi okeke</a>'],
     'photo_reference': 'ATtYBwJmt3EyNK4J1abWzGe-QT8jIL4LxmPvkFSZ-swph7NeBR4dY2KGdamn-ru4FFYoxTOYgIm8lhvTkaoGBXfQIgbKYTPCkm0FKwRfPB_xJpiWvHk5jeFtnO5RM3lZ_Lpe9xVNVaMm08DtlCkeM7Ils8WFGri7_BKNtg0vqd0T_vCdJ9I3',
     'width': 1152}],
   'place_id': 'ChIJ87i9KbilRBARjzOeBDbKx-c',
   'plus_code': {'compound_code': 'FH6H+2J Enugu',
    'global_code': '6FR9FH6H+2J'},
   'rating': 4,
   'reference': 'ChIJ87i9KbilRBARjzOeBDbKx-c',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 26},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Bayajida Rd, Ungwan Munchi, Kaduna',
   'geometry': {'location': {'lat': 10.5436173, 'lng': 7.4609879},
    'viewport': {'northeast': {'lat': 10.54495552989272,
      'lng': 7.46233667989272},
     'southwest': {'lat': 10.54225587010728, 'lng': 7.459637020107277}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission, Northwest Zonal Office',
   'place_id': 'ChIJS98oGDi1shER1iS7xWsBExw',
   'plus_code': {'compound_code': 'GFV6+C9 Kaduna',
    'global_code': '7F29GFV6+C9'},
   'rating': 2,
   'reference': 'ChIJS98oGDi1shER1iS7xWsBExw',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 1},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Tal-Udu, FCE Junction Kano',
   'geometry': {'location': {'lat': 11.988203, 'lng': 8.496804},
    'viewport': {'northeast': {'lat': 11.98937482989272,
      'lng': 8.498143229892724},
     'southwest': {'lat': 11.98667517010728, 'lng': 8.49544357010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/generic_business-71.png',
   'name': 'National Identity Management Commission (Nimc)',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJRbzDx9CBrhERDCs5gEROpvQ',
   'plus_code': {'compound_code': 'XFQW+7P Kano',
    'global_code': '7F3CXFQW+7P'},
   'rating': 5,
   'reference': 'ChIJRbzDx9CBrhERDCs5gEROpvQ',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 1},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Ndume bypass, Ndume',
   'geometry': {'location': {'lat': 5.5025021, 'lng': 7.517955600000001},
    'viewport': {'northeast': {'lat': 5.503745479892721,
      'lng': 7.519157379892723},
     'southwest': {'lat': 5.501045820107277, 'lng': 7.51645772010728}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission Umuahia',
   'opening_hours': {'open_now': False},
   'place_id': 'ChIJyTS2v4zDQhARJtViYuKIT54',
   'plus_code': {'compound_code': 'GG39+25 Ndume',
    'global_code': '6FQ9GG39+25'},
   'rating': 3.7,
   'reference': 'ChIJyTS2v4zDQhARJtViYuKIT54',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 3},
  {'business_status': 'OPERATIONAL',
   'formatted_address': 'Umueme, Port Harcourt',
   'geometry': {'location': {'lat': 4.822006, 'lng': 7.0079724},
    'viewport': {'northeast': {'lat': 4.823459929892723,
      'lng': 7.009288279892722},
     'southwest': {'lat': 4.820760270107279, 'lng': 7.006588620107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission',
   'photos': [{'height': 4608,
     'html_attributions': ['<a href="https://maps.google.com/maps/contrib/105954586937635012132">Eleje Chinwendu</a>'],
     'photo_reference': 'ATtYBwJPiTOSvWYumHd9rsNgskLV3VcdNpzOvHKXjRAPQoNinDDB_-3j-8utI5ABTIGc0RA_FboBx_inOA6XhCqzsjcBRnV2rjW-DcfeHXVFEYFUNHoq4EJgkRlSi3CfZFZlOwSkrCjvUtAMSDfl6ZSvOr_Ore3Z4F-n2I2sgsnDKwNEyb3I',
     'width': 2240}],
   'place_id': 'ChIJ79K8E9bNaRARd51XXSlz0Kc',
   'plus_code': {'compound_code': 'R2C5+R5 Port Harcourt',
    'global_code': '6FP9R2C5+R5'},
   'rating': 3.6,
   'reference': 'ChIJ79K8E9bNaRARd51XXSlz0Kc',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 12},
  {'business_status': 'OPERATIONAL',
   'formatted_address': '238 Port Harcourt - Aba Expy, Rumuokwurusi, Port Harcourt',
   'geometry': {'location': {'lat': 4.8496083, 'lng': 7.0527365},
    'viewport': {'northeast': {'lat': 4.850934679892722,
      'lng': 7.054089179892721},
     'southwest': {'lat': 4.848235020107278, 'lng': 7.051389520107278}}},
   'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/civic_building-71.png',
   'name': 'National Identity Management Commission Nimc',
   'place_id': 'ChIJgRk7A3nNaRAR61Ty7IIGSkU',
   'plus_code': {'compound_code': 'R3X3+R3 Port Harcourt',
    'global_code': '6FP9R3X3+R3'},
   'rating': 3,
   'reference': 'ChIJgRk7A3nNaRAR61Ty7IIGSkU',
   'types': ['point_of_interest', 'establishment'],
   'user_ratings_total': 4}],
 'status': 'OK'}

In [15]:
places_result.keys()

dict_keys(['html_attributions', 'next_page_token', 'results', 'status'])

In [16]:
resultados = places_result[ 'results' ]

In [17]:
instituciones = []
direccion = []
actividad = []
northeast = []
southwest = []

# loop para guardar cada uno de los elementos
for row in tqdm( range( 0 , len( resultados ) ) ):
    
    # direccion
    dire = resultados[ row ]['formatted_address']
    
    # estado de la actividad
    act = resultados[ row ]['business_status']
    
    # nombre de la institution
    institution = resultados[ row ]['name']
    
    # southwest
    south = resultados[ row ]['geometry']['viewport']['southwest']
    
    # northwest
    north = resultados[ row ]['geometry']['viewport']['northeast']
    
     # Save results
    instituciones.append( institution )
    direccion.append( dire )
    actividad.append( act )
    northeast.append( north )
    southwest.append( south )

100%|██████████████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<?, ?it/s]

In [18]:

resultado_final = { 'Institucion': instituciones, 'Direccion' : direccion, 'Estado' : actividad, 'Direccion_norte' : northeast, 'Direccion_sur' : southwest }

df_final = pd.DataFrame( resultado_final )
df_final

,Institucion,Direccion,Estado,Direccion_norte,Direccion_sur
0,National Identity Management Commission,"11 Sokode Crescent, Off Dalaba Street Zone 5, ...",OPERATIONAL,"{'lat': 9.067332429892723, 'lng': 7.4562827798...","{'lat': 9.064632770107277, 'lng': 7.4535831201..."
1,National Identity Management Commission NIMC,"Lafia - Shandam Rd, Lafia",OPERATIONAL,"{'lat': 8.506788579892724, 'lng': 8.5332722298...","{'lat': 8.50408892010728, 'lng': 8.53057257010..."
2,National Identity Management Commission (Nimc),"Asa-Dam Rd, opp. Dangote Flour Mills, Ilorin",OPERATIONAL,"{'lat': 8.451072679892722, 'lng': 4.5437053298...","{'lat': 8.448373020107278, 'lng': 4.5410056701..."
3,National Identity Management Commission,"zone 3, No 4 Maputo St, Wuse, Abuja",OPERATIONAL,"{'lat': 9.06035997989272, 'lng': 7.46923637989...","{'lat': 9.057660320107276, 'lng': 7.4665367201..."
4,National Identity Management Commission (Nimc),Lamingo Dam Road Plateau,OPERATIONAL,"{'lat': 9.8984195, 'lng': 8.9328039}","{'lat': 9.895157499999998, 'lng': 8.9273243000..."
5,National Identity Management Commission,Jos,OPERATIONAL,"{'lat': 9.893702729892722, 'lng': 8.9188880798...","{'lat': 9.891003070107278, 'lng': 8.9161884201..."
6,National Identity Management Commission,Kachia,OPERATIONAL,"{'lat': 9.858620379892722, 'lng': 7.9693469298...","{'lat': 9.855920720107278, 'lng': 7.9666472701..."
7,National Identity Management Commission (Nimc),"Jonah Jang Cres, High Level, Makurdi",OPERATIONAL,"{'lat': 7.712382379892722, 'lng': 8.5282094298...","{'lat': 7.709682720107278, 'lng': 8.5255097701..."
8,National Identity Management Commission (Nimc),"3 Abdulkadir ahmed Close (P.M.B 0281, Bauchi",OPERATIONAL,"{'lat': 10.31170367989272, 'lng': 9.8279278798...","{'lat': 10.30900402010728, 'lng': 9.8252282201..."
9,National Identity Management Commission,"Kofar Kabuga, Kano",OPERATIONAL,"{'lat': 11.99139672989272, 'lng': 8.4903341298...","{'lat': 11.98869707010728, 'lng': 8.4876344701..."
10,National Identity Management Commission (Nimc),"Complex, Federal Secretariat, Kawo, Kaduna",OPERATIONAL,"{'lat': 10.59382137989272, 'lng': 7.4508104298...","{'lat': 10.59112172010728, 'lng': 7.4481107701..."
11,National Identity Management Center,"Port-Hacourt Rd, New Owerri, Owerri",OPERATIONAL,"{'lat': 5.473014629892722, 'lng': 7.0094772798...","{'lat': 5.470314970107278, 'lng': 7.0067776201..."
12,National Identity Management Commission (Nimc),"ITF House, 6, 3rd Floor, Adetokunbo Ademola Cr...",OPERATIONAL,"{'lat': 9.078071879892722, 'lng': 7.4952152298...","{'lat': 9.075372220107278, 'lng': 7.4925155701..."
13,National Identity Management Commision (NIMC) ...,"9 Obafemi Awolowo Way, Agidingbi, Ikeja",OPERATIONAL,"{'lat': 6.618298179892721, 'lng': 3.3595877798...","{'lat': 6.615598520107278, 'lng': 3.3568881201..."
14,National Identity Management Commission,"1 Proda Road,Proda Junction, Emene industrial ...",OPERATIONAL,"{'lat': 6.461432879892723, 'lng': 7.5803212798...","{'lat': 6.458733220107279, 'lng': 7.5776216201..."
15,"National Identity Management Commission, North...","Bayajida Rd, Ungwan Munchi, Kaduna",OPERATIONAL,"{'lat': 10.54495552989272, 'lng': 7.4623366798...","{'lat': 10.54225587010728, 'lng': 7.4596370201..."
16,National Identity Management Commission (Nimc),"Tal-Udu, FCE Junction Kano",OPERATIONAL,"{'lat': 11.98937482989272, 'lng': 8.4981432298...","{'lat': 11.98667517010728, 'lng': 8.4954435701..."
17,National Identity Management Commission Umuahia,"Ndume bypass, Ndume",OPERATIONAL,"{'lat': 5.503745479892721, 'lng': 7.5191573798...","{'lat': 5.501045820107277, 'lng': 7.5164577201..."
18,National Identity Management Commission,"Umueme, Port Harcourt",OPERATIONAL,"{'lat': 4.823459929892723, 'lng': 7.0092882798...","{'lat': 4.820760270107279, 'lng': 7.0065886201..."
19,National Identity Management Commission Nimc,"238 Port Harcourt - Aba Expy, Rumuokwurusi, Po...",OPERATIONAL,"{'lat': 4.850934679892722, 'lng': 7.0540891798...","{'lat': 4.848235020107278, 'lng': 7.0513895201..."

# Function:

Crear una matrix aleatoria de orden 100x10. Crear un función que permita estandariza cada columna; es decir, cada observación de una columna debe restarse por su media y dividirse por la desviación estándar de la columna. Llame a esta función como standarize

In [19]:
array = np.arange(1000,)
matrix = array.reshape(100, 10)  
print(matrix)

[[  0   1   2   3   4   5   6   7   8   9]
 [ 10  11  12  13  14  15  16  17  18  19]
 [ 20  21  22  23  24  25  26  27  28  29]
 [ 30  31  32  33  34  35  36  37  38  39]
 [ 40  41  42  43  44  45  46  47  48  49]
 [ 50  51  52  53  54  55  56  57  58  59]
 [ 60  61  62  63  64  65  66  67  68  69]
 [ 70  71  72  73  74  75  76  77  78  79]
 [ 80  81  82  83  84  85  86  87  88  89]
 [ 90  91  92  93  94  95  96  97  98  99]
 [100 101 102 103 104 105 106 107 108 109]
 [110 111 112 113 114 115 116 117 118 119]
 [120 121 122 123 124 125 126 127 128 129]
 [130 131 132 133 134 135 136 137 138 139]
 [140 141 142 143 144 145 146 147 148 149]
 [150 151 152 153 154 155 156 157 158 159]
 [160 161 162 163 164 165 166 167 168 169]
 [170 171 172 173 174 175 176 177 178 179]
 [180 181 182 183 184 185 186 187 188 189]
 [190 191 192 193 194 195 196 197 198 199]
 [200 201 202 203 204 205 206 207 208 209]
 [210 211 212 213 214 215 216 217 218 219]
 [220 221 222 223 224 225 226 227 228 229]
 [230 231 232 233 234 235 236 237 238 239]
 [240 241 242 243 244 245 246 247 248 249]
 [250 251 252 253 254 255 256 257 258 259]
 [260 261 262 263 264 265 266 267 268 269]
 [270 271 272 273 274 275 276 277 278 279]
 [280 281 282 283 284 285 286 287 288 289]
 [290 291 292 293 294 295 296 297 298 299]
 [300 301 302 303 304 305 306 307 308 309]
 [310 311 312 313 314 315 316 317 318 319]
 [320 321 322 323 324 325 326 327 328 329]
 [330 331 332 333 334 335 336 337 338 339]
 [340 341 342 343 344 345 346 347 348 349]
 [350 351 352 353 354 355 356 357 358 359]
 [360 361 362 363 364 365 366 367 368 369]
 [370 371 372 373 374 375 376 377 378 379]
 [380 381 382 383 384 385 386 387 388 389]
 [390 391 392 393 394 395 396 397 398 399]
 [400 401 402 403 404 405 406 407 408 409]
 [410 411 412 413 414 415 416 417 418 419]
 [420 421 422 423 424 425 426 427 428 429]
 [430 431 432 433 434 435 436 437 438 439]
 [440 441 442 443 444 445 446 447 448 449]
 [450 451 452 453 454 455 456 457 458 459]
 [460 461 462 463 464 465 466 467 468 469]
 [470 471 472 473 474 475 476 477 478 479]
 [480 481 482 483 484 485 486 487 488 489]
 [490 491 492 493 494 495 496 497 498 499]
 [500 501 502 503 504 505 506 507 508 509]
 [510 511 512 513 514 515 516 517 518 519]
 [520 521 522 523 524 525 526 527 528 529]
 [530 531 532 533 534 535 536 537 538 539]
 [540 541 542 543 544 545 546 547 548 549]
 [550 551 552 553 554 555 556 557 558 559]
 [560 561 562 563 564 565 566 567 568 569]
 [570 571 572 573 574 575 576 577 578 579]
 [580 581 582 583 584 585 586 587 588 589]
 [590 591 592 593 594 595 596 597 598 599]
 [600 601 602 603 604 605 606 607 608 609]
 [610 611 612 613 614 615 616 617 618 619]
 [620 621 622 623 624 625 626 627 628 629]
 [630 631 632 633 634 635 636 637 638 639]
 [640 641 642 643 644 645 646 647 648 649]
 [650 651 652 653 654 655 656 657 658 659]
 [660 661 662 663 664 665 666 667 668 669]
 [670 671 672 673 674 675 676 677 678 679]
 [680 681 682 683 684 685 686 687 688 689]
 [690 691 692 693 694 695 696 697 698 699]
 [700 701 702 703 704 705 706 707 708 709]
 [710 711 712 713 714 715 716 717 718 719]
 [720 721 722 723 724 725 726 727 728 729]
 [730 731 732 733 734 735 736 737 738 739]
 [740 741 742 743 744 745 746 747 748 749]
 [750 751 752 753 754 755 756 757 758 759]
 [760 761 762 763 764 765 766 767 768 769]
 [770 771 772 773 774 775 776 777 778 779]
 [780 781 782 783 784 785 786 787 788 789]
 [790 791 792 793 794 795 796 797 798 799]
 [800 801 802 803 804 805 806 807 808 809]
 [810 811 812 813 814 815 816 817 818 819]
 [820 821 822 823 824 825 826 827 828 829]
 [830 831 832 833 834 835 836 837 838 839]
 [840 841 842 843 844 845 846 847 848 849]
 [850 851 852 853 854 855 856 857 858 859]
 [860 861 862 863 864 865 866 867 868 869]
 [870 871 872 873 874 875 876 877 878 879]
 [880 881 882 883 884 885 886 887 888 889]
 [890 891 892 893 894 895 896 897 898 899]
 [900 901 902 903 904 905 906 907 908 909]
 [910 911 912 913 914 915 916 917 918 919]
 [920 921 922 923 924 925 926 927 928 929]
 [930 931 932 933 934 935 936 937 938 939]
 [940 941 942 943 944 945 946 947 948 949]
 [950 951 952 953 954 955 956 957 958 959]
 [960 961 962 963 964 965 966 967 968 969]
 [970 971 972 973 974 975 976 977 978 979]
 [980 981 982 983 984 985 986 987 988 989]
 [990 991 992 993 994 995 996 997 998 999]]

In [20]:
def standarize(matrix):
    normal =np.norm(matrix)


    matrix = (matrix/normal)
    return matrix
    standarize_matrix = standarize(matrix)
print(standarize_matrix)

NameError: name 'standarize_matrix' is not defined